* {
  box-sizing: border-box;
}
body { 
  background: #dddddd;
  font-family: times new roman;
  padding: 0;
  margin: 0;
  color: #222222;
  font-size: 18px; 
}
::selection {
  background: #dce3ef;
  color:#222222;
}
a { 
  color: #808faa;
  text-decoration: underline;
  transition: .1s;
}
a:hover {
  color: #999999;
  text-decoration: none !important;
}
h1, h2, h3, h4, h5 { 
  text-indent: 20px; 
  font-style: italic; 
  color: #393959;
}
h1,h2,h3{ margin: 1.1em 0 0 0; } 
h4,h5 { margin: 0; }
h1 {
    font-size: 32px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 19px;
}
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}
#page-inner { 
  width: 88%; 
  padding: 0; 
  background: white; 
  margin-right: auto; 
  margin-left: auto;
  height:100%;
}
@media screen and (max-width: 1100px) {
  #page-inner {
     width: 98% !important;
   }
   .main {
  padding: 20px 40px 20px 40px !important;
  }
  .side {
  padding: 20px 40px 20px 40px !important;
  }
}
#page-inner p { 
  font-size: 18px;
  line-height: 1.6em;
  text-align: justify;
  text-indent: 20px;
  padding: 0;
}
#site-header-inner { 
  height: 200px;
  margin: 0;
  text-align: center;
}
#site-title a {
    text-decoration: none;
    text-align: center;
    font-style: normal;
    color: #393959;
}
#site-title a:hover {
    text-decoration: none;
    color: #393959; 
}
#site-title-back{  
  height:200px;
  width:auto;
  overflow:hidden;
  magin:0px;
}
#site-title a::selection, #site-under-title::selection {
  text-shadow: 0px 0 0px black;
  background: #dce3ef;
  color: #222222;
}
#site-title, #site-under-title {
  text-align:center;
  text-shadow: -1px 0 2px white, 0 -1px 2px white, 1px 0 2px white, 0 1px 2px white, 0 0 5px white, 0 0 5px white, 0 0 15px white, 0 0 15px white, 0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white;
  position: absolute;
  z-index: 99;
}
#site-title { 
  padding-left: 4%;
  padding-top: 82px;
}
#site-under-title { 
  padding-left: 5%;
  padding-top: 155px;
}
#site-under-title { 
  color: gray; 
  font-style: italic; 
}
.inner-top-menu {
    background-color: hsl(219, 25%, 75%); /* #b0bbd0 */
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: default;
}
.inner-top-menu a {
    display: inline-block;
    color: hsla(0,0%,0%,0.6);
    padding: 0px 10px;
    margin: 0;
    transition: .1s;
    text-decoration: none !important;
    text-transform: uppercase;
    transform: scale(.9, 1);
}
.inner-top-menu a:hover, .inner-bottom-menu a:hover, .active-menu {
    color: hsla(0,0%,0%,0.3) !important;
    text-decoration: none !important;
}
.inner-bottom-menu {
    border-top: 1px solid hsla(0,0%,0%,0.1);
    background-color: #eeeeee;
    line-height: 50px;
    overflow: hidden;
}
.inner-bottom-menu a {
    display: inline-block;
    color: hsla(0,0%,0%,0.5);
    padding: 0px 10px;
    margin: 0;
    transition: .1s;
    text-decoration: none !important;
}
.inner-bottom-menu table {
  margin: 20px;
}
.inner-bottom-menu td { 
  background: #eeeeee !important;
  border: none !important;
  text-align: left;
  padding: 5px 20px;
  margin:0;
}
.inner-wrap-column { 
  display: flex;
  flex-wrap: wrap;
}
.main {   
  flex: 70%;
  background-color: white;
  padding: 20px 100px;
}
.side {
  flex: 30%;
  padding: 20px 40px;
  min-width: 270px;
}
.entry { border-bottom: 1px solid hsla(0,0%,0%,0.1); 
}
