* {
  box-sizing: border-box;
}
body { 
  background: #dddddd;
  font-family: times new roman;
  padding: 0;
  margin: 0;
  color: #222222;
  font-size: 18px; 
}
::selection {
  background: #dce3ef;
  color:#222222;
}
h1, h2, h3, h4, h5 { 
  text-indent: 20px; 
  font-style: italic; 
  color: #393959;
  margin: 0;
  line-height: 1.6em;
  font-weight: bold;
}
h1 {
    font-size: 32px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 19px;
}
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}
.page-inner-main {
	min-height: 500px;
	padding-top: 100px;
	padding-bottom: 100px;
}
#page-inner { 
  width: 88%; 
  padding: 0; 
  background: white; 
  margin-right: auto; 
  margin-left: auto;
  height:100%;
}
@media screen and (max-width: 1100px) {
  #page-inner {
     width: 98% !important;
   }
   .main, .side {
	   padding: 20px 40px !important;
	   flex: 100% !important;
	}
	.only-main {
	   padding: 20px 40px !important;
	   flex: 100% !important;
	}
}
#page-inner p { 
  font-size: 18px;
  line-height: 1.6em;
  text-align: justify;
  text-indent: 20px;
  padding: 0;
}
#site-header-inner { 
  height: 200px;
  margin: 0;
  text-align: center;
}
#site-title a {
    text-decoration: none;
    text-align: center;
    font-style: normal;
    color: #393959;
}
#site-title a:hover {
    text-decoration: none;
    color: #393959; 
}
#site-title-back{  
  height:200px;
  width:auto;
  overflow:hidden;
  magin:0px;
}
#site-title a::selection, #site-under-title::selection {
  text-shadow: 0px 0 0px black;
  background: #dce3ef;
  color: #222222;
}
#site-title, #site-under-title {
  text-align:center;
  text-shadow: -1px 0 2px white, 0 -1px 2px white, 1px 0 2px white, 0 1px 2px white, 0 0 5px white, 0 0 5px white, 0 0 15px white, 0 0 15px white, 0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white;
  position: absolute;
  z-index: 99;
  white-space: nowrap;
}
#site-title { 
  padding-left: 4%;
  padding-top: 109px;
}
#site-under-title { 
  padding-left: 5%;
  padding-top: 155px;
  color: gray; 
  font-style: italic; 
}
.inner-top-menu {
    line-height: 50px;
    background-color: #afbacf; /* hsl(219, 25%, 75%);  #b0bbd0 */
    font-weight: bold;
    text-align: center;
    cursor: default;
}
.inner-top-menu a {
    display: inline-block;
    color: hsla(0,0%,0%,0.6);
    padding: 0px 10px;
    margin: 0;
    transition: .1s;
    text-decoration: none !important;
    text-transform: uppercase;
    transform: scale(.9, 1);
}
.inner-top-menu a:hover, .inner-bottom-menu a:hover, .active-menu {
    color: hsla(0,0%,0%,0.3) !important;
    text-decoration: none !important;
}
.inner-bottom-menu {
    border-top: 1px solid hsla(0,0%,0%,0.1);
    background-color: #eeeeee;
    line-height: 50px;
    overflow: hidden;
    text-align: left;
    padding: 20px;
    margin:0;
}
.inner-bottom-menu a {
    color: hsla(0,0%,0%,0.5);
    padding: 0 20px;
    margin: 0;
    margin-right: 20px;
    transition: .1s;
    text-decoration: none !important;
    display: block;
    border-bottom: 1px solid hsla(0,0%,0%,0.1); 
}
.inner-bottom-column {
  width: 100%;
  float:left;
  margin: 10px 0;
}
.inner-bottom-column a {
    display: block;
}
 .inner-bottom-column {
  width: 99.9999%;
}
.inner-bottom-column-count-2 {
  width: 50%;
}
.inner-bottom-column-count-3 {
  width: 33.3333%;
}
.inner-wrap-column { 
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
}
.only-main {   
  flex: 100%;
  padding: 20px 100px;
}
.main {   
  flex: 70%;
  padding: 20px 40px 20px 100px;
}
.side {
  flex: 30%;
  padding: 20px 40px;
}
.entry { 
  border-bottom: 1px solid hsla(0,0%,0%,0.1); 
  margin-bottom: 60px;
}

/* from vn */

code {
    font-family: Consolas, Monaco, Monospace, Courier;
    color: #c7254e;
	background-color: #f9f2f4;
	padding: 0.1em 0.3em;
	border-radius: 5px;
    word-break: break-word;
}
pre code {
	font-size: 16px;
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #222222;
    background-color: #f8f8f8;
	border-radius: 5px;
    line-height: 1.6em;
    font-family: Consolas, Monaco, Monospace, Courier;
    white-space: pre;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
	padding-right: 33px !important;
}

/* additional */

#archives {
	
}
.category-head {
	text-align: center;
	font-weight: normal;	
	margin: 20px;
	font-style: normal;
}
.archive-item h5 a {
	text-decoration: none;
	font-weight: normal;
	border-bottom: 1px solid hsl(0,0%,90%);	
	display: block;
	padding: 10px;
}