body { 
  background: #dddddd;
  font-family: times new roman;
  padding: 0;
  margin: 0;
  color: #222222;
  }
  
a { 
  color: #393959;
  text-decoration: underline;
  }
  
a:hover {
  color: #dddddd;
  text-decoration: none !important;
  }
  
h1 {
    font-size: 32px;
  }
  
h2 {
    font-size: 28px;
  }
  
h3 {
    font-size: 26px;
  }
  
#page-inner { 
  width: 1150px; 
  padding: 0; 
  background: white; 
  margin-right: auto; 
  margin-left: auto;
  height:100%;
  }
  
@media screen and (max-width: 1200px) {
  #page-inner {
	  width: 950px !important;
    }
  }
  
  #page-inner p { 
  font-size: 18px;
  line-height: 1.6em;
  text-align: justify;
  text-indent: 30px;
  margin: 100px;
  padding: 0;
  }

#page-inner h1, #page-inner h2, #page-inner h3 { 
  text-align: center; 
  font-style: italic; 
  margin: 30px; 
  color: #393959;
  }
  
#site-top-header-inner { 
  height: 200px;
  margin: 0;
  }
  
.site-title a {
    text-decoration: none;
    text-align: center;
  }

.site-title a:hover {
    text-decoration: none;
    color: #393959;
  }

#site-top-header-inner h3 {
  margin: 0;
  }

#inner-top-menu {
    background-color: #b0bbd0;
    font-weight: bold;
    width: 100%;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-size: 21px; 
    margin: auto;
  }

#inner-top-menu a {
    color: hsla(0,0%,0%,0.5);
    padding: 0px 10px;
    margin: 0;
    transition: .1s;
    text-decoration: none !important;
  }

#inner-top-menu a:hover {
    color: hsla(0,0%,0%,0.3) !important;
    text-decoration: none !important;
  }
