
<div title="{{ post.title }}" class="toc" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" onclick='document.location.href="{{ site.baseurl }}{{ post.url }}"'>
<a itemprop="url" href="{{ site.baseurl }}{{ post.url }}"><span itemprop="name">{{ post.title | strip_html }}</span>
</a>&nbsp;
<time itemprop="datePublished" class="category-post-date" title="{%- assign date_full_format = "%d/%m/%Y %H:%M:%S UTC" -%}{{ post.date | date: date_full_format }}" datetime="{{ post.date | date_to_xmlschema }}">{%- assign date_format = "%Y %B %d" -%}{{ post.date | date: date_format }}</time>
</div>
