<div id="page-inner">

<section id="bottom-menu" class="inner-bottom-menu">

<div class="inner-bottom-column count-3">  
  {% for item in site.data.bottom-menu1.docs %}
  <a class="{% if item.url == page.url %}active-menu{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
  {% endfor %}
</div>

<div class="inner-bottom-column count-3">  
  {% for item in site.data.bottom-menu2.docs %}
  <a class="{% if item.url == page.url %}active-menu{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
  {% endfor %}
  
  <a href="{{ "/feed.xml" | relative_url }}">
  <svg class="svg-icon"> 
  <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
  </svg> 
  <span>RSS</span></a>
  
  {%- if site.twitter_username -%}
  <a style="text-transform: none;" href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}">
  <svg class="svg-icon"> 
  <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use>
  </svg> 
  <span>@{{ site.twitter_username| escape }}</span>
  </a>
  {% endif %}
  
</div>

<div class="inner-bottom-column count-3">
<a style="pointer-events: none; text-transform: none;">Last update on website: {{ "now" | date: "%Y-%m-%d %H:%M" }} UTC</a>
</div>

</section>

<section class="inner-footer">
<!-- skkamade 20{{ site.time | date: '%y' }} -->
</section>
</div>