<div id="page-inner">

<div id="site-header-inner">
<a href="/">
  <div id="site-title">
  <h1>{{ site.title }}</h1>
  </div>
  <div id="site-under-title">{{ site.description }}</div>
    <div id="site-title-back">
	{%- if page.featured-image -%}
    <img onmousedown="return false;" draggable="false" ondragstart="return false;" class="header-img" alt="header2" src="{{site.baseurl}}{{ page.featured-image }}">
	{% else %}
    <img onmousedown="return false;" draggable="false" ondragstart="return false;" class="header-img" alt="header1" src="{{site.baseurl}}/src/img/head1.png">
    {% endif %}
    </div>
</a>
</div>
<!-- top navigation -->
<nav class="inner-top-menu">
  {% for item in site.data.top-menu.docs %}
  <a class="{% if item.url == page.url %}active-menu{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
  {% endfor %}
</nav>

</div>