<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/assets/img/site-icon.png" rel="shortcut icon" type="image/png">
{%- seo -%}
<link rel="stylesheet" href='{{ "/assets/main.css" | relative_url }}'>
{%- feed_meta -%}
<noscript>
<style>
.no-js-block  { display: block !important; }
.no-js-inline { display: inline !important; }
.no-js-none   { display: none !important; }
section#toc .toc { cursor: default !important; }
</style>
</noscript>
</head>
