<div id="page-inner">

<div id="site-header-inner">
<a href="/">
  <div id="site-title">
  <h1>sakkamade</h1>
  </div>
  <div id="site-under-title">through the life with yuri in heart</div>
    <h6 id="site-title-back">
    <img onmousedown="return false;" draggable="false" ondragstart="return false;" style="position:relative; height:250px; top:-10px;" src="https://sakkamade.github.io/files/images/omg long4-1.png">
    </h6>
</a>
</div>

<!-- top navigation -->
<nav class="inner-top-menu">
<a href="/">Updates</a>
<a href="projects">Projects</a>
<a href="/about">About me</a>
</nav>

</div>