<div id="page-inner">

<div id="site-header-inner">
<a href="/">
  <div id="site-title">
  <h1>sakkamade</h1>
  </div>
  <div id="site-under-title">through the life with yuri in heart</div>
    <div id="site-title-back">
    <img onmousedown="return false;" draggable="false" ondragstart="return false;" style="position:relative; height:250px; top:-10px;" alt="header1" src="https://sakkamade.github.io/src/img/head1.png">
    </div>
</a>
</div>
<!-- top navigation -->
<nav class="inner-top-menu">
  {% for item in site.data.samplelist.docs %}
  <a class="{% if item.url == page.url %}active-menu{% endif %}" href="{{ item.url }}">{{ item.title }}</a></li>
  {% endfor %}
</nav>

</div>