<!-- title -->
<h3 class="post-link">
	<a class="in-block" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
</h3>
<p class="post-meta low-line">
	<time title="{%- assign date_full_format = "%d/%m/%Y %H:%M:%S UTC" -%}{{ post.date | date: date_full_format }}">
		{%- assign date_format = "%Y %B %d" -%}
		{{ post.date | date: date_format }}
		</time>
		<!-- read time -->
		・ <span class="no-cap" title="Estimated reading time">{% capture words %}
		{{ post.content | number_of_words | minus: 250 }}
			{% endcapture %}
		{% if words contains "-" %}
		Less than a minute
		{% else %}		
		Circa {{ words | plus: 250 | divided_by: 180 | append: " minutes" }}		
		{% endif %}</span>
</p>