{%- if page.main-title -%}
	{% for category in categories %}
		<h1 class="post-title main-title">
			<a href="{{ site.baseurl }}/categories/{{ category | slugify }}" itemprop="name headline" title='Visit the basic page of "{{ category }}"'>
				{{ page.main-title }}
			</a>
		</h1>
	{% endfor %}
{% endif %}



<!-- top information -->
<div class="post-header">
	<p class="post-meta meta-categories no-cap" style="margin-bottom: 5px">
		{%- if page.main-title -%}<!--no top category-->{%- else -%}
			{% for category in categories %}
			<a href="{{ site.baseurl }}/categories/{{ category | slugify }}" title='Visit the basic page of "{{ category }}"'>{{ category }}</a>
				{% unless forloop.last %}<!--&nbsp;-->{% endunless %}
			{% endfor %}  
		{%- endif -%}
	</p>
	<h3 class="post-title" {%- if page.main-title -%}{%- else -%}itemprop="name headline"{%- endif -%}>{{ page.title }}</h3>
	<p class="post-meta" style="text-align: right !important;">
	<span class="no-cap" title="Estimated reading time">
			{% capture words %}
		{{ page.content | number_of_words | minus: 250 }}
			{% endcapture %}
		{% if words contains "-" %}
		Less than a minute
		{% else %}
		Circa {% assign number_words = words | plus: 250 | divided_by: 180 | lstrip %}{% case number_words %}{% when '1' %}{{ number_words }} minute{% else %}{{ number_words }} minutes{% endcase %}
		{% endif %}
	</span>
	</p>
</div>
<!-- end top information -->



{% if page.note or page.chapter-link %}
{% if page.note %}
<div onclick="classSwitch()" class="note-wrapper">
<div id="note-overlay" class="note-overlay js-only" title="Click to expand"></div>
{% else %}
<div class="note-wrapper">
{% endif %}
<blockquote class="cropped" id="note">

      {% if page.note %}
        <p class="translator-note"><strong>Note:</strong> {{ page.note }}</p>
      {% endif %}
  
      {% if page.chapter-link %}
        <p class="original-chapter-link"><strong>Source:</strong>&#8239;<a href="{{ page.chapter-link }}" target="_blank" title="Visit the page of original work">{{ page.chapter-link }}</a></p>
      {% endif %}
</blockquote>
</div>
	{% else %}
		<hr>
{% endif %}
