<!-- top information -->
<header class="post-header">
	<p class="post-meta meta-categories no-cap no-margin">
		{%- if page.main-title -%}<!--no top category-->{%- else -%}
			{% for category in categories %}
			<a href="{{ site.baseurl }}/categories/{{ category | slugify }}">{{ category }}</a>
				{% unless forloop.last %}<!--&nbsp;-->{% endunless %}
			{% endfor %}  
		{%- endif -%}
	</p>
	<h3 class="post-title" {%- if page.main-title -%}{%- else -%}itemprop="name headline"{%- endif -%}>{{ page.title | escape }}</h3>
	<p class="post-meta" style="text-align: right !important;">
	<span class="no-cap" title="Estimated reading time">
			{% capture words %}
		{{ page.content | number_of_words | minus: 250 }}
			{% endcapture %}
		{% if words contains "-" %}
		Less than a minute
		{% else %}
		Circa {{ words | plus: 250 | divided_by: 180 | append: " minutes" }}
		{% endif %}
	</span>
	</p>
</header>
<!-- end top information -->

{% if page.note or page.chapter-link %}
<blockquote onclick="classSwitch()" class="cropped" id="note">

      {% if page.note %}
        <p class="translator-note"><b>Note:</b> {{ page.note }}</p>
      {% endif %}
  
      {% if page.chapter-link %}
        <p class="original-chapter-link"><strong style="padding-right: 6px">Source:</strong><a href="{{ page.chapter-link }}" target="_blank">{{ page.chapter-link }}</a></p>
      {% endif %}
</blockquote>
	{% else %}
		<hr>
{% endif %}