

<div id="archives">
  <!-- categories -->
  <h5 class="side-head">Categories Cloud</h5>
  {% assign categories = site.categories | sort %}
  {% for category in categories %}
  <span class="side-in no-cap"><a href="/categories/{{ category | first | slugify }}">{{ category[0] | replace:'-', ' ' }} ({{ category | last | size }})</a>&nbsp;</span>
{% endfor %}
</div>
<div id="archives">
<!-- {% for category in site.categories %}
  <div class="archive-group">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <div id="#{{ category_name | slugize }}"></div>
    <p></p>

    <h5 class="category-head">{{ category_name }}</h5>
    <a name="{{ category_name | slugize }}"></a>
    {% for post in site.categories[category_name] %}
    <article class="archive-item">
      <h5><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h5>
    </article>
    {% endfor %}
  </div>
{% endfor %} --> 
  <!-- tags -->
  <h5 class="side-head">Labels Cloud</h5>
    {% assign tags = site.tags | sort %}
	{% for tag in tags %}
	<span class="side-in"><a href="/labels/{{ tag | first | slugify }}">{{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})</a>&nbsp;</span>
	{% endfor %}
  </div>
  
  <h5 class="side-head">著者のために</h5>
	<span class="side-in">許可なく翻訳していただき、誠に申し訳ございません。 削除したい場合はご連絡ください。</span>
  </div>