  <li title="{{ post.title }}"><div class="toc"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | strip_html | truncatewords: 12 }}<br>
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
    {% for category in categories %}
  <span class="tag-category-title">"{{category | strip_html | truncatewords: 6}}"</span>
    {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}<span class="category-post-date">{%- assign date_format = site.minima.date_format | default: "%Y %B %d" -%}{{ post.date | date: date_format }}</span></a></div></li>