<div class="dropdown dropdown-toc js-only">
{% for category in categories %}
    <button type="button" onclick="dropdownFunction()" id="closed" class="dropbtn drop-opened" title='Expand the TOC of "{{ category }}"'><em>{{ category }}</em></button>
{% endfor %}
    <div id="myDropdown" class="dropdown-content show-dropdown">
	<section id="tags-list">
	{% for category in page.categories %}
        {% assign sotred_posts = site.categories[category] | reverse %}
    {% for post in sotred_posts %}
        <div title="{{ post.title | strip_html }}" class="toc" onclick='document.location.href="{{ site.baseurl }}{{ post.url }}"'><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | strip_html | truncatewords: 12 }}</a>
        <time title="{%- assign date_full_format = "%d/%m/%Y %H:%M:%S UTC" -%}{{ post.date | date: date_full_format }}" class="category-post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: date_format }}</time></div>
    {% endfor %}
	{% endfor %}
	</section>
    </div>
</div>
