@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "JunicodeNew", "Yu Mincho Demibold", 'Noto Serif JP', "Noto Serif CJK JP", "Times New Roman", Times, 'Source Han Serif', serif, -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   19px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;

$normal-line-height:    1.6em    !default;
$small-line-height:     1.4em    !default;
$base-line-height:      1.1em    !default;

$base-unit:        20px    !default;
$base-cents:       7%      !default;

$lighter-blue:     #dce3ef !default;
$light-blue:       #afbbcf !default;
$link-blue:        #556a8c !default;
$dark-blue:        #233250 !default;
$very-light-gray:  #fafafa !default;
$light-gray:       #f3f3f3 !default;
$background-gray:  #e3e3e3 !default;
$tag-gray:         #bfbfbf !default;
$base-gray:        #999999 !default;
$not-black:        #555555 !default;
$almost-black:     #222222 !default;
$brand-color:      #808faa !default;
$white:            #ffffff !default; // #fcf3e0

$table-text-align: left !default;

// Import partials.
@import
  "from_minima/base",
  "from_minima/layout",
  "from_minima/syntax-highlighting"
;
