@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Times New Roman", Times, serif, 'Source Han Code JP N', -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   18px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6em !default;

$normal-line-height:    1.65em !default;
$small-line-height:     1.4em !default;

$spacing-unit:     30px !default;

$lighter-blue:     #dce3ef !default;
$light-blue:       #afbbcf !default;
$almost-black:     #222222 !default;
$not-black:        #555555 !default;
$link-blue:        #556a8c !default;
$dark-blue:        #233250 !default;
$very-light-gray:  #fafafa !default;
$light-gray:       #f6f6f6 !default;
$background-gray:  #dddddd !default;
$tag-gray:         #bfbfbf !default;
$base-gray:        #999999 !default;
$brand-color:      #808faa !default;
$white:            #ffffff !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
//@mixin media-query($device) {
//  @media screen and (max-width: $device) {
//    @content;
//  }
//}

//@mixin relative-font-size($ratio) {
//  font-size: $base-font-size * $ratio;
//}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;
