@charset "UTF-8";
/*should not be even because of "junicode" *italic* and "junicode new" *normal* size difference*/
/*
$lighter-blue:     #dce3ef !default;
$light-blue:       #afbbcf !default;
$link-blue:        #556a8c !default;
$dark-blue:        #233250 !default;
$very-light-gray:  #fafafa !default;
$light-gray:       #f3f3f3 !default;
$background-gray:  #e3e3e3 !default;
$tag-gray:         #bfbfbf !default;
$base-gray:        #999999 !default;
$not-so-black:     #6e6e6e !default;
$not-black:        #555555 !default;
$almost-black:     #323232 !default;
$brand-color:      #808faa !default;
$base-pink:        #ffe1e7 !default;
$dark-pink:        #eeafb8 !default;
$white:            #ffffff !default;
*/
/* tentative solution for IE */
/*@font-face { font-family: 'JunicodeNew'; src: url(/src/fnt/junicode/junicode-regular-webfont.woff) format('woff'); font-style: normal; font-weight: 400; } @font-face { font-family: 'JunicodeNew'; src: url(/src/fnt/junicode/junicode-bold-webfont.woff) format('woff'); font-weight: bold; }*/
/* end */
@font-face { font-family: 'JunicodeNew'; src: url(/assets/fnt/junicode-new/JuniusX-Regular.woff) format("woff"); font-style: normal; }

@font-face { font-family: 'JunicodeNew'; src: url(/assets/fnt/junicode-new/JuniusX-Bold.woff2) format("woff2"); font-weight: bold; }

@font-face { font-family: 'JunicodeNew'; src: url(/assets/fnt/junicode-new/legacy/Junicode-Italic.woff) format("woff"); font-style: italic; }

/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');*/
/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { font: 400 20.4px/1.6em "Junicode Two Beta", "JuniusX", "Junicode", "JunicodeNew", "Yu Mincho Demibold", "Source Han Serif", "Noto Serif JP", "Noto Serif CJK JP", "Times New Roman", Times, serif, "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; background-color: #ffdce3; -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1, "ss18"; -moz-font-feature-settings: "kern" 1, "ss18"; -o-font-feature-settings: "kern" 1, "ss18"; font-feature-settings: "kern" 1, "ss18"; font-kerning: normal; cursor: default; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure { margin-bottom: 20px; }

/* footnotes */
sup { font-size: 15.4px; margin-top: 60px !important; padding: 0 0 0 1px; position: relative; top: -0.4em; vertical-align: top; }

.footnote::before { content: '['; }

.footnote::after { content: ']'; }

.footnote { text-decoration: none; }

.footnotes { background-color: rgba(255, 255, 255, 0.5); border-top: 1px solid #e0e4e9; margin-top: 20px; padding-top: 20px; }

.reversefootnote { margin-left: 4px; text-decoration: underline; }

#fn\:1:target, #fn\:2:target, #fn\:3:target, #fn\:4:target, #fn\:5:target, #fn\:6:target, #fn\:7:target, #fn\:8:target, #fn\:9:target, #fn\:10:target, #fn\:11:target, #fn\:12:target, #fn\:13:target, #fn\:14:target, #fn\:15:target, #fn\:16:target, #fn\:17:target, #fn\:18:target, #fn\:19:target, #fn\:20:target, #fnref\:1:target, #fnref\:2:target, #fnref\:3:target, #fnref\:4:target, #fnref\:5:target, #fnref\:6:target, #fnref\:7:target, #fnref\:8:target, #fnref\:9:target, #fnref\:10:target, #fnref\:11:target, #fnref\:12:target, #fnref\:13:target, #fnref\:14:target, #fnref\:15:target, #fnref\:16:target, #fnref\:17:target, #fnref\:18:target, #fnref\:19:target, #fnref\:20:target { background-color: rgba(255, 205, 215, 0.2); border-radius: 5px; }

#fn\:1:target a, #fn\:2:target a, #fn\:3:target a, #fn\:4:target a, #fn\:5:target a, #fn\:6:target a, #fn\:7:target a, #fn\:8:target a, #fn\:9:target a, #fn\:10:target a, #fn\:11:target a, #fn\:12:target a, #fn\:13:target a, #fn\:14:target a, #fn\:15:target a, #fn\:16:target a, #fn\:17:target a, #fn\:18:target a, #fn\:19:target a, #fn\:20:target a, #fnref\:1:target a, #fnref\:2:target a, #fnref\:3:target a, #fnref\:4:target a, #fnref\:5:target a, #fnref\:6:target a, #fnref\:7:target a, #fnref\:8:target a, #fnref\:9:target a, #fnref\:10:target a, #fnref\:11:target a, #fnref\:12:target a, #fnref\:13:target a, #fnref\:14:target a, #fnref\:15:target a, #fnref\:16:target a, #fnref\:17:target a, #fnref\:18:target a, #fnref\:19:target a, #fnref\:20:target a { color: #bb495c; }

#fn\:1:target a:hover, #fn\:1:target a:focus, #fn\:2:target a:hover, #fn\:2:target a:focus, #fn\:3:target a:hover, #fn\:3:target a:focus, #fn\:4:target a:hover, #fn\:4:target a:focus, #fn\:5:target a:hover, #fn\:5:target a:focus, #fn\:6:target a:hover, #fn\:6:target a:focus, #fn\:7:target a:hover, #fn\:7:target a:focus, #fn\:8:target a:hover, #fn\:8:target a:focus, #fn\:9:target a:hover, #fn\:9:target a:focus, #fn\:10:target a:hover, #fn\:10:target a:focus, #fn\:11:target a:hover, #fn\:11:target a:focus, #fn\:12:target a:hover, #fn\:12:target a:focus, #fn\:13:target a:hover, #fn\:13:target a:focus, #fn\:14:target a:hover, #fn\:14:target a:focus, #fn\:15:target a:hover, #fn\:15:target a:focus, #fn\:16:target a:hover, #fn\:16:target a:focus, #fn\:17:target a:hover, #fn\:17:target a:focus, #fn\:18:target a:hover, #fn\:18:target a:focus, #fn\:19:target a:hover, #fn\:19:target a:focus, #fn\:20:target a:hover, #fn\:20:target a:focus, #fnref\:1:target a:hover, #fnref\:1:target a:focus, #fnref\:2:target a:hover, #fnref\:2:target a:focus, #fnref\:3:target a:hover, #fnref\:3:target a:focus, #fnref\:4:target a:hover, #fnref\:4:target a:focus, #fnref\:5:target a:hover, #fnref\:5:target a:focus, #fnref\:6:target a:hover, #fnref\:6:target a:focus, #fnref\:7:target a:hover, #fnref\:7:target a:focus, #fnref\:8:target a:hover, #fnref\:8:target a:focus, #fnref\:9:target a:hover, #fnref\:9:target a:focus, #fnref\:10:target a:hover, #fnref\:10:target a:focus, #fnref\:11:target a:hover, #fnref\:11:target a:focus, #fnref\:12:target a:hover, #fnref\:12:target a:focus, #fnref\:13:target a:hover, #fnref\:13:target a:focus, #fnref\:14:target a:hover, #fnref\:14:target a:focus, #fnref\:15:target a:hover, #fnref\:15:target a:focus, #fnref\:16:target a:hover, #fnref\:16:target a:focus, #fnref\:17:target a:hover, #fnref\:17:target a:focus, #fnref\:18:target a:hover, #fnref\:18:target a:focus, #fnref\:19:target a:hover, #fnref\:19:target a:focus, #fnref\:20:target a:hover, #fnref\:20:target a:focus { color: #54585d; }

::selection { background-color: rgba(220, 227, 239, 0.8); /* $lighter-blue; */ color: #222222; text-shadow: none; }

hr { background-color: #e0e4e9; border: none; display: block; height: 1px; margin: 20px 0; }

h1, h2, h3, h4, h5, h6 { font-weight: 400; line-height: 1.6em; text-align: center; }

h1 { font-size: 38px; }

h2 { font-size: 36px; }

h3 { font-size: 30px; }

h4 { font-size: 28px; }

h5 { font-size: 26px; }

h6 { font-size: 24px; }

@media screen and (max-width: 770px) { h1 { font-size: 34px !important; } h2 { font-size: 30px !important; } h3 { font-size: 28px !important; } h4 { font-size: 26px !important; } h5 { font-size: 24px !important; } h6 { font-size: 22px !important; } }

mark { background-color: #fffbac; }

/** `main` element */
main { display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 17.85px; }

/** Links */
a { color: #5d708c; text-decoration: none; transition: color ease-in 0.15s; }

a:hover, a:focus { color: #91969d; }

/** Blockquotes */
blockquote { background-color: rgba(255, 255, 255, 0.5); border-left: 6px solid #e0e4e9; color: #61676e; padding-left: 6%; }

blockquote a { color: #91969d; text-decoration: underline; }

blockquote a:hover, blockquote a:focus { background-color: #f7f8fa; text-decoration: none; }

blockquote > :last-child { margin-bottom: 0; }

@media screen and (max-width: 570px) { blockquote { word-break: break-all !important; } }

/* lists */
ul { list-style-type: circle; }

ul, ol { margin-left: 20px; }

li > ul, li > ol { margin-bottom: 0; }

/** Code formatting */
pre, code { background-color: #f8f8f8; border: 1px solid #cccccc; border-radius: 3px; }

code { background-color: #f9f2f4; border: none; border-radius: 5px; color: #c7254e; font-family: Consolas, Monaco, Monospace, Courier; font-size: 16.4px; padding: 0.1em 0.3em; word-break: break-word; }

pre { overflow-x: auto; padding: 8px 12px; }

pre > code { background-color: #f8f8f8; border: 0; border-radius: 5px; color: #333437; font-family: Consolas, Monaco, Monospace, Courier; font-size: 16.4px; display: block; padding: 0.5em; line-height: 1.6em; white-space: pre; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; }

/** Clearfix */
/** Icons */
.svg-icon { display: inline-block; fill: #91969d; padding-right: 0; vertical-align: text-top; height: 16px; width: 16px; }

/** Tables */
table { border: 1px solid #e0e4e9; border-collapse: collapse; margin-bottom: 20px; width: 100%; }

table tr:nth-child(even) { background-color: #f0f1f3; }

table th, table td { padding: 6.6666666667px 10px; }

table th { background-color: #f0f1f3; border: 1px solid #e0e4e9; border-bottom-color: #e0e4e9; }

table td { border: 1px solid #e0e4e9; }

/* versatile */
.align-center { -webkit-align-items: center; -moz-align-items: center; align-items: center; display: -webkit-flex; display: -moz-flex; display: flex; }

ul.stripped { list-style-type: none; margin: 0; padding: 0; }

.none { display: none !important; }

.no-cap { text-transform: none; }

.small { font-size: 16.32px; opacity: .6; }

.centered { text-align: center !important; }

.bottom-border { border-bottom: 2px solid #e0e4e9; }

.top-border { border-top: 1px solid #e0e4e9; }

.nowrap { white-space: nowrap; }

@media only screen and (max-width: 770px) { .none-tablet { display: none !important; } }

@media only screen and (max-width: 570px) { .none-mobile { display: none !important; } }

/* base page */
.header-image-wrapper { background-image: url("/assets/img/pattern-23-102.jpeg"); background-repeat: repeat-x; height: 102px; margin: 40px 0; margin-left: -180px; margin-right: -180px; overflow: hidden; white-space: nowrap; }

.header-image-wrapper .start-h1 { font-size: 48.96px; color: #ffffff; margin-right: auto; margin-left: auto; }

.smaller-header-image-wrapper { background-image: url("/assets/img/pattern-23-102.jpeg"); background-repeat: repeat-x; background-size: 15px; /*width*/ height: 67px; margin: 40px 0; margin-right: -180px; margin-left: -180px; overflow: hidden; white-space: nowrap; }

.smaller-header-image-wrapper .start-h2 { font-size: 32.64px; color: #ffffff; line-height: 1em; margin-right: auto; margin-left: auto; }

main.main { margin-right: 1%; margin-left: 1%; }

div.main-wrapper { color: #333437; background-color: #ffffff; box-shadow: 0 9px 7px rgba(77, 77, 77, 0.2); border-radius: 7px; max-width: 950px; margin-right: auto; margin-left: auto; margin-top: 20px; margin-bottom: 20px; /* bg */ background-image: url("/assets/img/kiss1.jpg"); background-repeat: no-repeat; background-size: auto 500px; background-position: left bottom; }

@media only screen and (max-width: 570px) { div.main-wrapper { margin-top: 1% !important; margin-bottom: 1% !important; } }

div.base-wrapper { overflow-x: hidden; /* to hide headers strips */ padding: 40px 6% 40px 6%; }

@media only screen and (max-width: 770px) { div.base-wrapper { padding-top: 20px !important; padding-bottom: 20px !important; } }

div.base-page-content { max-width: 600px; /*text-align: justify;*/ text-align: left; /* !important to override .stripped */ margin-right: auto !important; margin-left: auto !important; }

/* start page */
div.start-wrapper { overflow-x: hidden; /* to hide headers strips */ padding: 20px 6% 20px 6%; }

div.home { text-align: center; }

div.start-site-name { color: #54585d; font-size: 48.96px; line-height: 1.6em; margin-right: auto; margin-left: auto; }

div.start-site-description { font-size: 28.56px; line-height: 1.6em; font-style: italic; color: #5d708c; margin-right: auto; margin-left: auto; }

@media only screen and (max-width: 570px) { div.start-site-description { font-size: 30.6px !important; } }

div.start-site-description::before, div.start-site-description::after { content: " ~ "; }

/* pagination */
div.pagination { font-size: 0; /* to remove in-between margin */ text-align: center; }

div.pagination a, div.pagination span { border-radius: 6px; box-shadow: inset 0 0 4px #ffffff, inset 0 3px 2px #ffffff, inset 0 3px 5px #ffffff, inset 2px 0 5px #ffffff; display: inline-block; font-size: 20.4px; /* to return font size */ min-width: 15px; margin-right: 7px; padding: 1px 10px; }

div.pagination a.invisible, div.pagination span.invisible { visibility: hidden; }

div.pagination span { border: solid; border-color: black; border-width: 2px; }

div.pagination span.page-active { background-color: #ffffff; border-color: #fdc1cb; box-shadow: 0 0 2px #ffdce3; }

div.pagination span.page-hellip { border-color: #f0f1f3; }

div.pagination a { border: 2px solid #ffffff; background-color: rgba(255, 255, 255, 0.5); transition: all ease-in 0.15s, border-color ease-out 0.05s; }

div.pagination a:hover, div.pagination a:focus { border: 2px solid #f0f1f3; background-color: #ffffff; color: #5d708c; text-shadow: 0 -2px #ffffff, 0 -1px #ffffff; }

.mobile-pagination { display: none; }

@media only screen and (max-width: 570px) { .desktop-pagination { display: none; } .mobile-pagination { display: block !important; } }

/* navigation */
@media only screen and (min-width: 770px) { /* less than */ ul.navbar .nav-tocbtn { max-width: 206px; } ul.navbar li.nav-menu-item { display: none !important; } ul.navbar .nav-menu { display: block !important; } }

nav.nav a:hover, nav.nav a:focus { color: #54585d; }

nav.nav .right-align { /* to align the dropdown by right side; now the dropdown conten is hidden if parent has overflow: hidden */ position: relative; }

nav.nav .right-align .drop-content { right: 0px; }

nav.nav ul.navbar .nav-tocbtn { overflow-x: hidden; text-overflow: ellipsis; }

nav.nav .nav-menubtn { border: solid #e0e4e9 !important; border-width: 2px !important; border-radius: 5px; /* I hope there is a more neat way... */ }

nav.nav .nav-menubtn:hover { background: unset !important; border-color: #a9b1bf !important; border-width: 2px !important; }

nav.nav .nav-menubtn:hover section.menu-icon div { background-color: #54585d !important; }

nav.nav .nav-menubtn:focus { background: unset !important; border-color: #fdc1cb !important; border-width: 2px !important; box-shadow: 0 0 2px #ffdce3 !important; }

nav.nav .nav-menubtn:focus section.menu-icon div { background-color: #54585d !important; }

nav.nav .nav-menubtn section.menu-icon { float: left; margin-top: 7px; margin-left: -12px; margin-right: 12px; }

nav.nav .nav-menubtn section.menu-icon div { background-color: #91969d; transition: all ease-in 0.15s; margin: 3px 0; height: 2px; width: 16px; }

@media only screen and (max-width: 770px) { nav.nav .nav-menu { display: none; } nav.nav .nav-menu li.nav-right-item { clear: both; float: none !important; } nav.nav .nav-menu li.nav-right-item a { padding: 3px 8px; text-align: left !important; } nav.nav .nav-menu li.nav-right-item button, nav.nav .nav-menu li.nav-right-item a { /* look a.drop-content-item padding */ padding-top: 5px !important; padding-bottom: 5px !important; } nav.nav .nav-menu li.nav-right-item button i.arrow-down { /* because of changed padding */ bottom: 33% !important; } nav.nav .nav-menu li.nav-right-item.nav-drop .nav-dropbtn { text-align: left !important; width: 100%; } nav.nav .nav-menu li.nav-right-item.nav-drop .nav-dropbtn ~ .drop-content { box-shadow: unset !important; position: relative !important; } nav.nav .nav-menu li.nav-right-item.nav-drop .nav-dropbtn ~ .drop-content > a.drop-content-item { border-left: 2px solid #a9b1bf; margin-left: 13px !important; } nav.nav .nav-menu-item { display: block !important; } }

@media only screen and (max-width: 570px) { nav.nav ul li.nav-left-home-item, nav.nav ul li.nav-right-item { clear: both !important; float: none !important; } nav.nav ul li.nav-left-home-item, nav.nav ul li.nav-menu-item { text-align: center !important; } nav.nav ul .nav-menubtn { margin-top: 20px !important; margin-bottom: 20px !important; } nav.nav ul .nav-menu { border: solid !important; border-color: #a9b1bf !important; border-width: 2px !important; border-radius: 5px; } }

nav.nav, .footer { padding: 20px 40px; }

@media only screen and (max-width: 570px) { nav.nav, .footer { padding-right: 6% !important; padding-left: 6% !important; } }

nav.nav { /* remove bottom padding because I no longed have bottom border so I need not keep it centre */ padding-bottom: 0; }

nav.nav a.nav-title { padding-right: 0 !important; padding-left: 0 !important; /* = max-height of img; to remove flicker when image is not yet loaded */ height: 40px; }

nav.nav a.nav-title img { max-width: auto; max-height: 40px; position: relative; top: -5px; }

ul.navbar { margin-bottom: 0; padding: 10px 0; white-space: nowrap !important; /* remove rings for links too; firefox; mobile only */ }

ul.navbar::after { clear: both; content: ""; display: table; }

ul.navbar li a { color: #91969d; display: block; padding: 0 20px; text-align: center; }

ul.navbar li a:hover:not(.nav-active), ul.navbar li a:active:not(.nav-active) { color: #54585d; }

ul.navbar .nav-active { color: #333437 !important; }

ul.navbar .nav-dropbtn { background-color: transparent; color: #91969d; font: 400 20.4px/1.6em "Junicode Two Beta", "JuniusX", "Junicode", "JunicodeNew", "Yu Mincho Demibold", "Source Han Serif", "Noto Serif JP", "Noto Serif CJK JP", "Times New Roman", Times, serif, "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* for padding look "ul.navbar li a" */ padding: 0 20px 0 26px; border: none; cursor: pointer; position: relative; /* to keep the icon for tablet/mobile */ transition: all ease-in 0.15s; /* remove rings; chromium and firefox; mobile only */ }

ul.navbar .nav-dropbtn:hover, ul.navbar .nav-dropbtn:focus { color: #54585d; background-color: #f7f8fa; }

ul.navbar .nav-dropbtn i.arrow-down { border-bottom: 5px solid transparent; border-top: 5px solid #91969d; border-left: 5px solid transparent; border-right: 5px solid transparent; display: block; left: 9px; bottom: 29%; height: 0; width: 0; position: absolute; z-index: 1; }

@media only screen and (max-width: 770px) { ul.navbar .nav-dropbtn:focus { outline: none; box-shadow: none; } ul.navbar .nav-dropbtn::-moz-focus-inner { border: 0; } }

@media only screen and (max-width: 770px) { ul.navbar li a:focus { outline: none; } ul.navbar .drop-content { border: none !important; border-radius: 0 !important; max-width: 770px !important; } }

ul.navbar .drop-content { background-color: #ffffff; box-shadow: 0px 9px 10px 0px rgba(77, 77, 77, 0.2); display: none; overflow-y: auto; min-width: 160px; max-height: 400px; max-width: 520px; position: absolute; white-space: nowrap; z-index: 1; border: solid #e0e4e9; border-radius: 6px 0 6px 6px; border-width: 2px; }

ul.navbar .drop-content a.drop-content-item { display: block; margin: 0; overflow-x: hidden; padding: 5px 20px; text-align: left; text-decoration: none; text-overflow: ellipsis; }

ul.navbar .drop-content-v { display: block; }

ul.navbar li.nav-right-item { display: block; float: right; }

ul.navbar li.nav-left-item, ul.navbar li.nav-left-home-item { display: block; float: left; }

ul.navbar .nav-menu li { transition: all ease-in 0.15s; }

/* footer */
.footer { backdrop-filter: blur(1px); background-color: rgba(255, 255, 255, 0.5); border-radius: 0 0 7px 7px; text-shadow: 0 -2px #ffffff; }

.footer .copying-footer { padding-top: 20px; padding-bottom: 40px; line-height: 1em; text-align: center; }

.footer .copying-footer .small { opacity: .8 !important; }

.footer .copying-footer .social-footer { padding-top: 8px; padding-bottom: 8px; }

.footer .copying-footer .social-footer > a:not(:first-child)::before { color: #333437; content: " ・ "; }

/* post list */
.post-link { margin-bottom: 0; /* temporary */ /* margin-bottom: 8px; margin-top: 2px; */ }

.post-link > a { color: #333437; display: inline-block; }

.post-link > a:hover, .post-link > a:focus { color: #5d708c; }

li.post-entry { margin-bottom: 20px; }

li.post-entry header > .post-meta { --padding-meta: 2px 6px; }

li.post-entry header > .post-meta > a { border-radius: 5px; padding: var(--padding-meta); transition: ease-out .15s; background-color: #ffffff; }

li.post-entry header > .post-meta > a:hover, li.post-entry header > .post-meta > a:focus { background-color: #f7f8fa; color: #5d708c; }

li.post-entry header > .post-meta > span.pinned { padding: var(--padding-meta); }

@media only screen and (max-width: 570px) { li.post-entry .centered, div.post-header .centered { text-align: left !important; } }

li.pinned-entry { border-bottom-color: #f0f1f3; border-bottom-width: 4px; }

/* post page */
div.post-header .original-chapter-link { color: #91969d; text-align: center; }

div.post-header .original-chapter-link a { color: #91969d; text-decoration: underline; }

div.post-header .original-chapter-link a:hover, div.post-header .original-chapter-link a:focus { background-color: #f7f8fa; text-decoration: none; }

@media only screen and (max-width: 770px) { div.post-header .original-chapter-link { /* important only for no js */ display: flex !important; min-width: 1px !important; white-space: nowrap !important; /* keep it centred it is not because of "display: flex" */ align-items: center; justify-content: center; } div.post-header .original-chapter-link a { display: block !important; overflow-x: hidden !important; text-overflow: ellipsis; } }

@media only screen and (max-width: 570px) { div.post-header .original-chapter-link { /* and now let it align left */ align-items: normal; justify-content: start; } }

.switch-post { align-items: center; display: flex; justify-content: center; }

.switch-post a { overflow: hidden visible; text-overflow: ellipsis; white-space: nowrap; background-color: rgba(255, 255, 255, 0.5); border: solid #e0e4e9; border-radius: 5px; border-width: 2px; padding: 3px 17px; transition: all ease-in 0.15s; }

.switch-post a:hover { border-color: #a9b1bf; color: #54585d; }

.switch-post a:focus { border-color: #fdc1cb; box-shadow: 0 0 2px #ffdce3; color: #54585d; }

.previous-post { margin-bottom: 40px; }

.previous-post > a { color: #91969d; }

.next-post { margin-top: 40px; }

.next-post > a { backdrop-filter: blur(1px); box-shadow: inset 0 0 5px #ffffff, inset 0 6px 2px #ffffff, inset 0 3px 5px #ffffff, inset 5px 0 5px #ffffff; color: #54585d; text-shadow: 0 -2px #ffffff, 1px -1px #ffffff; }

.next-post > a:hover, .next-post > a:focus { background-color: rgba(255, 255, 255, 0.7); }

.switch-off { display: none !important; /* obsolete */ /*background: transparent !important; border-color: transparent !important; pointer-events: none !important; user-select: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-drag: none; -webkit-user-drag: none; -webkit-touch-callout: none;*/ }

.recommend { backdrop-filter: blur(1px); background-color: rgba(255, 255, 255, 0.5); border-radius: 5px; }

.post-meta { color: #91969d; font-style: italic; }

.post-meta > a.in-post-category { color: #91969d; }

.post-meta > a.in-post-category:hover, .post-meta > a.in-post-category:focus { color: #54585d; }

.post-bottom-meta { text-align: right !important; }

h1.main-title { margin-top: 20px; margin-bottom: 40px; text-align: center; }

h1.main-title > a { color: #333437; display: inline-block; }

h1.main-title > a:hover, h1.main-title > a:focus { color: #5d708c; }

.translator-note { text-align: left; }

.translator-note .none { display: none; }

.translator-note a#toggle-note { white-space: nowrap; }

.spoiler { background-color: #333437; color: transparent; transition: all ease-in 0.15s; }

.spoiler:hover { background-color: #f0f1f3; color: #333437; }

/* table of contents */
section#toc { background-color: rgba(255, 255, 255, 0.5); }

section#toc .toc { display: flex; text-align: left; /* no "focus" because it is not actually being focused */ }

section#toc .toc:hover:not(.date) { background-color: rgba(242, 244, 247, 0.5); }

section#toc .toc a { color: #333437; display: block; overflow-x: hidden; text-overflow: ellipsis; white-space: nowrap; }

section#toc .toc a:hover, section#toc .toc a:focus { color: #61676e; }

section#toc .date { cursor: default !important; display: block !important; /* for text-align: center */ margin-top: 20px; margin-bottom: 20px; }

section#toc time.toc-post-date { color: #91969d; margin-left: auto; white-space: nowrap; }

@media only screen and (max-width: 570px) { section#toc time.toc-post-date { display: none !important; } }

section#toc time.toc-post-date::after { clear: both; display: table; }

/* scroll */
@media only screen and (max-width: 770px) { #scroll-btn, #scroll-down-btn { visibility: visible !important; } }

/* inserted from old */
i.button-arrow-up, i.button-arrow-down { border: solid #54585d; border-radius: 3px; border-width: 0 4px 4px 0; display: inline-block; padding: 6px; }

i.button-arrow-up { margin-bottom: -3px; -webkit-transform: rotate(-135deg); -moz-transform: rotate(-135deg); -ms-transform: rotate(-135deg); -o-transform: rotate(-135deg); transform: rotate(-135deg); }

i.button-arrow-down { margin-bottom: 1px; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }

.scroll-btn-up, .scroll-down-btn { background-color: #ffffff; border: none; border-radius: 50%; bottom: 20px; cursor: pointer; font-size: 18px; width: 80px; height: 80px; opacity: .6 !important; outline: none; position: fixed; right: 3%; transition: all .4s; visibility: hidden; z-index: 9; /* remove rings; chromium and firefox; mobile only */ }

@media only screen and (max-width: 770px) { .scroll-btn-up:focus, .scroll-down-btn:focus { box-shadow: none; outline: none; } .scroll-btn-up::-moz-focus-inner, .scroll-down-btn::-moz-focus-inner { border: 0; } }

.scroll-btn-up { display: none; transition: transform 0.25s ease-in-out; will-change: transform; }

.btn-unpin { -webkit-transform: translateX(120px); -moz-transform: translateX(120px); -ms-transform: translateX(120px); transform: translateX(120px); }

.btn-pin { -webkit-transform: translateX(0px); -moz-transform: translateX(0px); -ms-transform: translateX(0px); transform: translateX(0px); }

/* markdown table of contents */
ul#markdown-toc { depth: 1; list-style: bullets; }

#markdown-toc { border: 2px solid #a9b1bf; border-radius: 5px; color: #54585d; display: inline-block; list-style: decimal; padding: 1em 2em; }

#markdown-toc::before { content: 'Table of contents'; }

#markdown-toc li a { text-decoration: none; }

#markdown-toc li:first-child { margin-top: .5em; }

/*# sourceMappingURL=main.css.map */