/**
 * Reset some basic elements
 */



/* html { 
  scroll-behavior: smooth;
} */

body { 
  min-width: 450px; cursor: default; 
}

body, 
h1, h2, h3, h4, h5, h6,
p, 
blockquote, pre,
dl, dd, ol, ul, 
figure {
  margin: 0;
  padding: 0;
  color: $almost-black; 
  line-height: $normal-line-height;
}

p {
  color: $almost-black;
}

sup { 
  padding: 0 0 0 1px; 
  margin-top: 60px !important; 
  vertical-align: top; 
  position: relative; 
  top: -0.4em; 
  font-size: 13px;
}

.footnote::before { content: '['; }
.footnote::after { content: ']'; }
.footnote { text-decoration: none; }

.footnotes {
  color: $not-black;
  border-top: 1px solid $background-gray;
  margin-top: $base-unit;
  padding-top: $base-unit;
}
.reversefootnote { margin-left: 4px; }

::selection {
  background: hsla(218, 37%, 90%, 0.8); /* $lighter-blue; */
  color: #222222;
  text-shadow: none;
}

hr {
    display: block;
    margin: $base-unit 0;
    border: none;
    height: 1px;
    background: $background-gray;
}

h1, h2, h3, h4, h5, h6, {
  font-weight: 400;
  font-family: 'CormorantGaramondW', 'Yu Mincho Demibold', 'NotoSerifCJKJPRegularW';
  line-height: $base-line-height;
}

h1 { font-size: 38px; }
h2 { font-size: 36px; }
h3 { font-size: 32px; }
h4 { font-size: 30px; }
h5 { font-size: 26px; }
h6 { font-size: 24px; }



/**
 * Basic styling
 */



body {
  font: $base-font-weight #{$base-font-size}/#{$normal-line-height} $base-font-family;
  color: $almost-black;
  background-image: linear-gradient($light-gray, $background-gray);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */



h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $base-unit;
}



/**
 * `main` element
 */



main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */



img {
  max-width: 100%;
  vertical-align: middle;  
}
/* ie */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  .content img {
    max-width: 800px;
  }
}



/**
 * Figures
 */



figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */



ul, 
ol {
  margin-right: 4%;
  margin-left: 6%;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Blockquotes
 */



blockquote {
  margin-top: $base-unit;
  border: 1px solid $background-gray;
  border-left: 5px solid $background-gray;
  padding: ($base-unit / 2) 3% ($base-unit / 2) 5.3%;
  color: $not-black;
  text-align: justify;
  word-break: break-word;
  font-size: 17px !important;
  background-color: $very-light-gray;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 -1px $white;
  
  > p { 
	color: $not-black; 
	font-size: 17px !important;
  }
  
  > a, 
  p > a { 
	color: $base-gray;
	font-size: 17px !important; 
  }
  
  > :last-child {
	margin-bottom: 0;
  }  
}



/**
 * Code formatting
 */



pre,
code {
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #f8f8f8;
}

code {
  font-family: Consolas, Monaco, Monospace, Courier;
  color: #c7254e;
  background-color: #f9f2f4;
  padding: 0.1em 0.3em;
  border-radius: 5px;
  word-break: break-word;
  font-size: 16px;
  border: none;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
	border: 0;
	font-size: 16px;
    display: block;
    padding: 0.5em;
    color: $almost-black;
    background-color: #f8f8f8;
	border-radius: 5px;
    line-height: $normal-line-height;
    font-family: Consolas, Monaco, Monospace, Courier;
    white-space: pre;
    -moz-tab-size: 4;
	  -o-tab-size: 4;
		 tab-size: 4;
  }
}


/**
 * Links
 */



a {
  transition: .2s;
  color: $link-blue;
  text-decoration: underline;

  &:hover {
  color: $base-gray;
  text-decoration: none;
  }
}



/**
 * Clearfix
 */



%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */



.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #{$base-gray};
  padding-right: 0;
  vertical-align: text-top;
}

.social-media-list {
  li + li {
	padding-top: 5px;
  }
}



/**
 * Tables
 */



table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $background-gray;

  tr {
	&:nth-child(even) {
	  background-color: $light-gray;
	}
  }

  th, td {
	padding: ($base-unit / 3) ($base-unit / 2);
  }

  th {
	background-color: $light-gray;
	border: 1px solid $background-gray;
	border-bottom-color: $background-gray;
  }

  td {
	border: 1px solid $background-gray;
  }
}
