* {
  box-sizing: border-box;
}



/* wrap */



.page-inner-main {
  min-height: 80vh;
}
#page-inner {
  max-width: 1000px;
  width: 100%;
  padding: 0; 
  background: $white;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0 0 6px $background-gray, 0 0 14px hsla(0, 0%, 20%, 0.2);

  p {
  font-size: $base-font-size + 2px;
  line-height: $normal-line-height;
  text-align: justify;
  padding: 0;
  }
  li {
  font-size: $base-font-size + 2px;
  text-align: justify;
  }
}
.columns-layout { 
  max-width: 1150px !important;
}
/* ie */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  .only-main img { 
  max-width: 800px !important; /* otherwise pages will be very long for some reason */
  }
}
@media screen and (max-width: 1000px) {

  #page-inner {
  
    p, 
    li,
    #markdown-toc,
    #note p, #note a {
    font-size: ($base-font-size + 3px) !important;
    }
    code {
    font-size: ($base-font-size - 3px) !important;
    }
  }
  
  .side {
  padding: 0 5% ($base-unit) 0 !important; 
  }
  .main {
  padding: 0 4.7% 0 0 !important; /* this main is special */
  }
  .main-with-margin {
  padding: 0 7% ($base-unit * 3) 5% !important; /* 40px = 5% everywhere, now 7% */
  }
  .only-main {
  max-width: 640px !important;
  }
  .only-main img {
  min-width: auto !important;
  margin-left: auto !important;
  }
  /* ie */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  
    .only-main img {
    max-width: 100% !important; /* otherwise imgs will overflow although pages will be very long for some reason */
    }
  }
  .post-list > li {
  padding-left: 7.527% !important;
  }
  .post-list-heading {
  margin-left: 7% !important;
  }
  #scroll-btn,
  #scroll-down-btn {
  visibility: visible !important;
  }
}
@media screen and (max-width: 800px) {

  .main-with-margin {
  padding: 0 7% ($base-unit * 3) 7% !important;
  }
  .side {
  padding: ($base-unit * 2) 7% 0 7% !important;
  }
  .side, 
  .main, 
  .only-main, 
  .main-with-margin {
  flex: 100% !important;
  }
  .indent-novel-list {
  padding-left: 7% !important;
  }
  /* ie */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  
    .side,
    .main,
    .main-with-margin {
    min-width: 640px;
    }
  }
  .side,
  .main,
  .main-with-margin {
  padding-right: 0 !important; /* for proper 'max-width' */
  padding-left: 0 !important; /* for proper 'max-width' */
  max-width: 640px !important;
  margin-left: auto;
  margin-right: auto;
  }
  .main {
  
    li { 
    padding-right: 0 !important;
    padding-left: 0 !important;
    }
    ul { 
    margin-right: 0 !important;
    }
  }
  .side-head {
  text-align: left !important;
  }
  .inner-bottom-column {
  width: 100% !important;
  margin-bottom: 0 !important;
  }
  .col-1, 
  .col-2 { 
  text-align: left !important;
  }
  .inner-bottom-column {
  margin: 0 !important; 
  }
  .inner-bottom-menu section:not(:first-child) {
  border-top: none !important;
  }
  .inner-bottom-menu :not(:last-child) {
  border-bottom: 1px solid $background-gray;
  }
  .inner-bottom-menu a {
  padding: 0 !important;
  }
  .inner-bottom-menu section {
  margin-right: 0 !important;
  margin-left: 0 !important;
  }
  .side-in {
  display: block !important;
  }
}
@media screen and (max-width: 670px) {
  
  /* max-width = screen width + return padding */
  .side,
  .only-main,
  .main,
  .only-main,
  .main-with-margin {
  max-width: 670px !important;
  }
  .main {
  padding: 0 7% 0 0 !important;

    li {
    padding-left: 7% !important;
    }
  }
  .main-with-margin {
  padding: 0 7% ($base-unit * 3) 7% !important;
  }
  .only-main {
  padding: ($base-unit) 7% !important;
  }
  .side {
  padding: ($base-unit) 7% 0 7% !important;
  }
}
@media screen and (max-width: 470px) {
  
  #site-header-inner {
  height: 150px !important;
  }
  .header-img {
  top: -13px !important;
  max-height: 183px !important;
  min-height: 150px !important;
  }
  #site-title-back {
  max-height: 150px !important;
  }
  #site-title {
  margin-top: 83px !important;
  }
  #site-under-title {
  margin-top: 114px !important;
  }
  .inner-top-menu {
  line-height: 45px !important;
  height: 45px !important;
  }
  .inner-top-menu a {
  height: 44px !important;
  font-size: 20px !important;
  }
}


/* main */



/* ie */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  .main, 
  .main-with-margin {
  max-width: 70%;
  }

  .side {
  max-width: 30%;
  }

  .only-main, 
  .only-main-top {
  max-width: 100%;
  }
}

.inner-wrap-column {
  display: flex;
  flex-wrap: wrap;
  padding: ($base-unit * 2) 0;
}
/* main of "home" */
.main {
  flex: 70%;
  padding: ($base-unit) ($base-unit / 1.95) 0 0;
}
/* main of other pages (e.g. categories) */
.main-with-margin {
  flex: 70%;
  padding: ($base-unit) ($base-unit * 2) ($base-unit) ($base-unit * 5);
}
/* side for both */
.side {
  flex: 30%;
  padding: ($base-unit) ($base-unit * 2) ($base-unit) ($base-unit);
}
.only-main {
  flex: 100%;
  padding-top: ($base-unit);
  padding-bottom: ($base-unit);
  margin: ($base-unit) ($base-unit * 5);
  margin-top: 0;
  max-width: 605px;
  margin-left: auto;
  margin-right: auto;

  .white-img {
  box-shadow: 0 0 10px $background-gray;
  }
}
.only-main img {
  min-width: 800px;
  margin-left: -99px;
  cursor: pointer;
}

.only-main-top {
  flex: 100%;
  min-width: 1px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.post-list-heading {
  margin-left: ($base-unit * 5);
}

.pinned-list {

  > li {
  border-bottom: 4px solid $background-gray !important;
  } 

}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
  margin-bottom: $base-unit * 2;
  padding-bottom: $base-unit;
  padding-left: ($base-unit * 5);
  border-bottom: 1px solid $background-gray; 
  }
}

.with-indent {
  text-indent: 5.8%;
}



/* header */



#site-header-inner {
  height: 210px;
  margin: 0;
  text-align: center;

  > a {
  text-decoration: none;
  }
}

.header-img {
  position: relative;
  top: -20px;
  max-height: 260px;
  min-height: 210px;
}
#site-title-back {
  max-height: 210px;
  overflow: hidden !important;
  width: auto;
  margin: 0;
}



/* site title */



#site-title h1::selection,
#site-under-title::selection {
  text-shadow: 0px 0 0px black;
  background: $lighter-blue;
  color: $almost-black;
}
#site-title,
#site-under-title {
  text-align: left;
  text-shadow: -2px 2px $white, 2px -2px $white, 2px 2px $white, -2px -2px $white, -1px 1px $white, 1px -1px $white, 1px 1px $white, -1px -1px $white, -3px 3px $white, 3px -3px $white, 3px 3px $white, -3px -3px $white, -4px 4px $white, 4px -4px $white, 4px 4px $white, -4px -4px $white, 0 0 7px $white, 0 0 7px $white, 0 0 7px $white, 0 0 7px $white;
  position: absolute;
  z-index: 2;
  white-space: nowrap;
}
#site-title {
  text-decoration: none;
  margin-left: 7%;
  margin-top: 139px;
}
#site-under-title {
  margin-left: 7%;
  margin-top: 175px;
  color: $base-gray;
  font-style: italic;
}



/* top */



.inner-top-menu {
  border-top: 1px solid $light-blue;
  border-bottom: 1px solid $background-gray;
  line-height: 50px;
  height: 50px;
  background-color: $light-blue; /* hsl(219, 25%, 75%); #b0bbd0; */
  text-align: center;
  cursor: default;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0;
}
.inner-top-menu a {
  height: 49px;
  text-align: center;
  transition: ease-out .2s;
  display: inline-block;
  color: $not-black;
  padding: 0 20px 0 21px;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 22px;
  opacity: .8;
}
.inner-top-menu a:hover,
.inner-top-menu a:focus {
  text-decoration: none !important;
  box-shadow: inset 0 -6px $background-gray;
  opacity: 1 !important;
}
.active-menu-top, 
.active-menu-top:hover {
  box-shadow: inset 0 -6px $white !important;
  opacity: 1 !important;
}



/* bottom */



.inner-bottom-menu a:hover,
.active-menu {
  color: $not-black !important;
  text-decoration: none !important;
  text-shadow: 0 1px $white;
}

.inner-bottom-menu {
  font-size: $base-font-size - 1px;
  border-top: 1px solid $background-gray;
  background-color: $light-gray;
  line-height: 40px;
  overflow: hidden;
  text-align: left;
  padding: ($base-unit / 2) 7%;
  margin: 0;
  padding-bottom: $base-unit * 2;

  a {
  text-transform: capitalize;
  color: $base-gray;
  padding: 0 3%;
  margin: 0;
  text-decoration: none !important;
  display: block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  }
  
  section { 
  margin-right: 1.5%;
  margin-left: 1.5%; 
  }
}

.inner-bottom-menu section:not(:first-child) {
  border-top: 1px solid $background-gray;
}
.inner-bottom-column {
  width: 100%;
  float:left;
  margin: ($base-unit / 2) 0;
}
.inner-bottom-column a {
  display: block;
}
.inner-bottom-column {
  width: 99.9999%;
}
.count-2 {
  width: 50%;
}
.count-3 {
  width: 33.3333%;
}

.col-1 {
  text-align: right;
}
.col-2 {
  text-align: center;
}

.inner-footer { 
  background-color: $tag-gray;
  color: $light-gray;
  line-height: 50px;
  text-align: center;
  cursor: default;
}



/* pagination */



.pagination {
  font-size: 0; /* remove spacing */
  padding: 0 0 ($base-unit) 0;
  margin-top: -($base-unit * 2);
  cursor: default;
  font-style: normal;
  line-height: 30px;
  text-align: right;
          user-select: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
}
.pagination a,
.pagination span {
  font-size: $base-font-size + 1px; /* return font only to links */
  text-decoration: none;
  padding: 2px 10px;
  min-width: 36px;
  margin-top: -1px;
  color: $link-blue;
  border: 1px solid $background-gray;
  border-right: none;
  display: inline-block;
  text-align: center;
}
.pagination .page-active {
  color: $not-black;
  cursor: default;
  background-color: $light-gray;
}
.pagination .none { 
  display: none;
}
.pagination a:last-child, 
.pagination span:last-child {
  border-right: 4px solid $background-gray;
}
.pagination .page-number-active {
  color: $tag-gray;
  cursor: default;
  background-color: $light-gray;
}
.pagination .page-number {
  color: $base-gray;
}
.pagination a:hover,
.pagination a:focus {
  color: $base-gray;
  background: $very-light-gray
}



/* side content */



#side-wrapper {
  margin: 0;
  cursor: default;
  text-transform: capitalize;
  margin-bottom: ($base-unit * 2);
}
.side-head {
  text-align: center;
  padding-bottom: $base-unit;
  border-bottom: 1px solid $background-gray;

  > a { 
  color: $almost-black;
  text-decoration: none !important; 
  }
  > a:hover {
  color: $link-blue !important;
  }
}
.side-in a {
  text-decoration: none;
}
.block {
  display: block; 
}
.no-cap {
  text-transform: none !important;
}
.archive-item {
  font-weight: normal;
  border-top: 1px solid hsl(0,0%,90%);
  display: block;
  padding: 10px;
  margin: 0;
}
.archive-item a, 
.archive-item h5 {
  text-decoration: none !important;
  margin: 0;
}
.no-margin {
  margin: 0 !important;
}



/* toc */



.toc {
  margin: 0;
  display: inline;
  text-align: left;
}
.toc a {
  transition: 0s;
  padding: 0 4px;
  float: right;
  width: 100% !important;  
  text-decoration: none;
  border-left: 1px solid $background-gray;
  border-top: 1px solid $background-gray;
  border-right: 4px solid $background-gray;
  line-height: $normal-line-height;
  margin-top: -1px;
  text-shadow: 0 -1px $white, 0 -2px $white;
}
.toc:last-child a { 
  border-bottom: 1px solid $background-gray;
}
.toc a:hover { 
  background-color: $light-gray !important;
  color: $not-black !important;
  
  > span, 
  time {
  color: $base-gray !important;
  }
}
#tags-list a:last-child { 
  margin-bottom:0 !important;
}
.toc:nth-of-type(odd) a {
  background-color: $very-light-gray;
}
.date a { 
  text-align: center;
  pointer-events: none;
  color: $not-black !important;
  background-color: $light-gray !important;
  text-transform: capitalize;
}
.category-post-date {
  float: right;
  white-space: nowrap;
  color: $tag-gray;
}

.tag-gray { 
  color: $tag-gray;
}
span.small { 
  font-size: ($base-font-size - 3px) !important; 
  opacity: .5 !important;
}
.tag-category-title { 
  color: $tag-gray;
}
.half-opacity { 
  opacity: .5;
}



/* tag page */



.tag-title { 
  margin-top: ($base-unit * 2);
}

#tags-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#tags-list li:nth-of-type(even) a {
  background-color: $white;
}
#tags-list li:last-child a {
  margin-bottom: $base-unit;
}



/* post switch */



.switch-post {
  text-align: center;
  background-color: $very-light-gray;
  font-weight: 400;
  font-size: 1.3em;
}
.switch-post a {
  line-height: 50px;
  padding: 0 7%;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  overflow-x: hidden;	
  text-overflow: ellipsis;
  text-shadow: 0 -1px $white, 0 -2px $white;
}
.switch-post {

  a:hover, 
  a:focus {
  color: $base-gray;
  background-color: $light-gray;
  }

  a:hover i, 
  a:focus i {
  border-color: $base-gray; 
  }
}
.switch-off { 
  background: transparent !important; 
  border-color: transparent !important; 
  pointer-events: none !important; 
          user-select: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-drag: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

.previous-post {
  border-bottom: 1px solid $background-gray;
}
.previous-post a {
  color: $base-gray;
}
.previous-post:hover, 
.previous-post:focus { 
  border-bottom: 1px solid $background-gray;
}

.next-post { 
  border-top: 1px solid $background-gray;
  color: $almost-black; 
}
.next-post a { 
  color: $not-black;
}
.next-post:hover, 
.next-post:focus {
  border-top: 1px solid $background-gray;
}
a.bigger { 
  font-size: ($base-font-size + 2px) !important;
}



/* post meta and insides */



.post-meta {
  text-align: left !important;
  text-transform: capitalize;
  font-size: ($base-font-size) !important;
  font-style: italic;
  color: $base-gray;
  cursor: default;
  
  span,
  time  {
  font-size: ($base-font-size) !important;
  }
}

.post-meta a {
  font-size: ($base-font-size) !important;
  font-style: italic;
  color: $base-gray;
  text-decoration: none;
}
/*.post-meta a:not(:last-child)::after {
  content: ', ';
}*/

.post-meta a:hover { color: $not-black; }



/* tag / date */



.tag {
  border: 1px solid $background-gray;
  border-right: 4px solid $background-gray;
  text-transform: capitalize;
  padding: 0px 9px 0px 6px;
  margin: 0 2px;
  display: inline;
  color: $base-gray;
  white-space: nowrap;
  font-style: italic;
  background: $very-light-gray;
  text-shadow: 0 -1px $white, 0 -2px $white;
}
.post-meta .tag:hover {
  box-shadow: 0 2px 5px $light-gray;
}

.archive-date {
  display: inline-block;
  margin: 3px 1px;
  cursor: pointer;
  transition: .3s;
          user-select: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
}
.archive-date:hover { 
  background-color: $light-gray !important;
  color: $not-black;
}
.filter-date {
  display: none; /* Hidden by default */
}
.show-date {
  display: block;
}
.archive-date.active {
  box-shadow: -1px 3px 2px $light-gray;
  color: $not-black !important;
  pointer-events: none !important;
  background-color: $light-gray !important;
}

#archive-date-container {
}
.archive-page {
  font-size: $base-font-size;

  #tags-list {
  margin-top: $base-unit * 1.5;
  font-size: $base-font-size;
  
    a {
    font-size: $base-font-size;
    }
  }
}
.time {
}
.time-up {
  color: $base-gray;
  white-space: nowrap;
}

.post-link a {
  transition: .1s;
  color: $almost-black; 
  text-decoration: none;
  display: block;
}

.post-link a:hover {
  color: $link-blue;
}
.in-block {
  display: inline-block !important;
}

.post-categories {
  cursor: default;
}
.post-categories a {
  font-size: $base-font-size;
  transition: .1s;
  text-decoration: none;
  font-style: italic;
  font-weight: 400;
}

.post-categories a:not(:last-child)::after,
.meta-categories a:not(:last-child)::after {
  content: ', ';
}

.main-title {
  text-align: center;
  margin: ($base-unit * 1.5) 0 ($base-unit * 3) 0;
  line-height: $small-line-height;

  > a { 
  color: $almost-black;
  text-decoration: none !important; 
  }
  > a:hover {
  color: $link-blue !important;
  }
}

.post-content { 
  margin: $base-unit 0;
}

.post-header {

  > p, 
  > h3, 
  > div {
  margin: 0;
  line-height: $base-line-height;
  margin-bottom: $base-unit / 2;
  }
}

.low-line { 
  margin-bottom: -$base-unit / 2 !important;
}

.spoiler {
  background: $almost-black;
  color: transparent;
  transition: .1s;
  transition-delay: .5s;
}
.spoiler:hover {
  transition-delay: 0s;
  background: $light-gray;
  color: $almost-black;
}



/* scroll */



i.button-arrow-up {
  border: solid $base-gray;
  border-radius: 3px;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  margin-bottom: -3px;
          transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
     -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
       -o-transform: rotate(-135deg);
}
i.button-arrow-down-2 {
  border: solid $base-gray;
  border-radius: 3px;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  margin-bottom: 1px;
          transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
}
i.button-arrow-down {
  border-style: double !important;
  border: solid $not-black;
  border-radius: 2px;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin-bottom: 9px;
  transition: .2s;
          transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
}

@keyframes fade {
  from {opacity: 0;}
  to {opacity: 0.4;}
}

.scroll-down-btn {
  visibility: hidden;
  position: fixed;
  bottom: $base-unit;
  right: 3%;
  z-index: 9;
  font-size: 18px;
  outline: none;
  background-color: $light-gray;
  cursor: pointer;
  width: ($base-unit * 4);
  height: ($base-unit * 4);
  border-radius: 50%;
  border: none;
  opacity: .4 !important;
  transition: .4s;
}

.scroll-btn {
  visibility: hidden;
  display: none;
  position: fixed;
  bottom: $base-unit;
  right: 3%;
  z-index: 9;
  font-size: 18px;
  outline: none;
  background-color: $light-gray;
  cursor: pointer;
  width: ($base-unit * 4);
  height: ($base-unit * 4);
  border-radius: 50%;
  border: none;
  opacity: .4 !important;
  will-change: transform;
  transition: transform 0.25s ease-in-out;
  transition: .4s;
}
.scroll-btn:hover, 
.scroll-down-btn:hover {
  border: 1px solid $background-gray;
  box-shadow: 0 0 5px $base-gray;
}

.btn-unpin {
          transform: translateX(120px);
      -ms-transform: translateX(120px);
     -moz-transform: translateX(120px);
  -webkit-transform: translateX(120px);
}
.btn-pin {
          transform: translateX(0px);
      -ms-transform: translateX(0px);
     -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
}



/* dropdown */



.dropbtn:hover,
.dropdown:hover > .dropbtn {
  background: $light-gray;
  color: $not-black;
}
.dropdown {
  display: block;
  min-width: 100%;
  margin: $base-unit 0;
}
.dropbtn {
  font-family: 'JunicodeNew', "Times New Roman", Times, serif;
  background-color: $very-light-gray;
  color: $base-gray;
  font-size: $base-font-size;
  line-height: 1em;
  text-align: left;
  padding: 3px 8px;
  cursor: pointer;
  min-width: 100%;
  border: 1px solid $background-gray;
  border-right: 4px solid $background-gray;
  border-radius: 0 !important;
}
/* ie */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  .dropbtn {
  padding: 0px 10px;
  }
}
.drop-opened:before {
  content: '';
  border: solid $base-gray;
  border-radius: 0 0 1px 0;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-bottom: 2px;
  margin-right: 6px;
  transition: .2s;
          transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
     -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
       -o-transform: rotate(-135deg);
}
.drop-closed:before {
  content: '';
  border: solid $base-gray;
  border-radius: 0 0 1px 0;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-bottom: 4px;
  margin-right: 6px;
  transition: .2s;
          transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
}
.dropdown:hover > .drop-closed:before,
.dropdown:hover > .drop-opened:before {
  border: solid $not-black;
  border-radius: 0 0 1px 0;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
}
.dropdown-content {
  display: none;
  transition: .1s;
  min-width: 100%;
  box-shadow: -2px 4px 4px $light-gray;
  border-bottom: 1px solid $background-gray;
  margin-top: -1px !important;
}
.dropdown-content > #tags-list div a {
  padding: 0 4px 0 8px;
}
.dropdown-content > #tags-list .toc:last-child a { 
  border-bottom: none !important; 
}
.dropdown-content > #tags-list .toc a { 
  color: $base-gray;
}
.dropdown-content > #tags-list .toc a:hover {
  color: $not-black !important;
}
.dropdown-content > #tags-list a:visited {
  color: $link-blue;
}
.dropdown-content > #tags-list {
  max-height: 200px;
  overflow-y: scroll;
          transform: scaleX(-1); /* Reflects the parent horizontally */
  -webkit-transform: scaleX(-1);
     -moz-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
       -o-transform: scaleX(-1);
}
.dropdown-content > #tags-list a {
          transform: scaleX(-1); /* Flips the child back to normal */
  -webkit-transform: scaleX(-1);
     -moz-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
       -o-transform: scaleX(-1);
}
.dropdown-content-no-list {
  background-color: $very-light-gray;
  border: 1px solid $background-gray;
  border-right: 4px solid $background-gray;
  border-top: none !important;
  margin-top: -2px !important;
  padding: 0 8px;
  padding: ($base-unit / 2) 5.3% ($base-unit / 2) 3%;  /* look the "blockquote" (mirrored) */
}
.show-dropdown {
  display: block;
}



details {
  background-color: $very-light-gray;
  text-align: left;
  padding: 0 8px;
  cursor: pointer;
  min-width: 100%;
  border: 1px solid $background-gray;
  border-right: 4px solid $background-gray;
  transition: .2s;
  border-radius: 0 !important;
  
  summary {
  color: $base-gray;
  }
}



/* note */



.cropped { 
  max-height: 56px;
  overflow: hidden;
}
/* for ie long links */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  #note { 
  word-break: break-all;
  } 
}
.note-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: $base-unit;
  margin-bottom: $base-unit;
}
.note-wrapper .note-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
}
.note-wrapper .note-overlay:hover {
  cursor: row-resize !important;
}
.note-wrapper #note {
  margin: 0 !important;
  position: relative;
  z-index: 1;
}
.pinned {
  font-size: 20px; 
  color: $base-gray;
  font-style: italic;
}



/* markdown table of contents */



ul#markdown-toc {
  list-style: bullets;
  depth: 1;
}
#markdown-toc {
  border: 1px solid $background-gray;
  border-right: 4px solid $background-gray;
  background-color: $very-light-gray;
  padding: 1em 2em;
  list-style: decimal;
  display: inline-block;
  color: $not-black;
}
#markdown-toc:before { 
  content: 'Table of contents';
}
#markdown-toc li a {
  text-decoration: none;
}
#markdown-toc li:hover a {
  color: $base-gray;
}
#markdown-toc li:first-child {
  margin-top: .5em;
}



/* drop cap */



/* chromium */
/* @media screen and (-webkit-min-device-pixel-ratio:0) {

  p.first-paragraph::first-letter {
  font-size: 550%;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: .28em !important;
  float: left;
  }
} */
/* ie */
/* @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  p.first-paragraph::first-letter {
  font-size: 550%;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: .28em !important;
  float: left;
  }
} */
/* firefox */
/* @-moz-document url-prefix() {

  p.first-paragraph::first-letter {
  font-size: 550%;
  display: inline-block;
  padding: 0;
  padding-top: .075em !important;
  float: left;
  }
} */
