* {
  box-sizing: border-box;
}


.main {
    //background-image: url('/src/img/head1.jpg');
    //background-repeat: no-repeat;
    //background-size: 85% auto;
    //background-position: center bottom;
    //bottom: 0;
}


body {
    //background-image: url('/src/img/head1.jpg');
    //background-repeat: no-repeat;
    //background-size: 100% auto;
    background-color: $very-light-gray;
}

/* wrap */

#page-header {
  padding: 0;
  padding-top: $base-unit;
  padding-right: $base-unit * 3;
  padding-left: $base-unit * 3;
    margin: 0;
  margin-right: auto;
  margin-left: auto;
  background: transparent;
  min-width: 1px;
  text-align: center;
  width: 100%;
  max-width: 1150px !important; //some random value which seemed to be slightly centered
}

.top-main {
  flex: 70%;
  min-width: 1px;
  text-align: right;
  padding: ($base-unit);
}
.top-side {
  flex: 30%;
  min-width: 1px;
  text-align: left;
  padding: ($base-unit) ($base-unit) ($base-unit) ($base-unit * 5);
}

.page-inner-main {
  min-height: 80vh;
}
#page-inner {
  max-width: 1000px; // do not really work
  width: 100%;
  padding-bottom: ($base-unit * 2);
  background: transparent;
  margin-right: auto;
  margin-left: auto;

  p {
  font-size: $base-font-size + 2px;
  line-height: $normal-line-height;
  text-align: justify;
  padding: 0;
  }
  li {
  font-size: $base-font-size + 2px;
  text-align: justify;
  }
}
.columns-layout { 
  max-width: 1150px !important; //this work
}

 #sidebar-button-close {
    display: none;
}
.mobile-only {
    display: none;
}
.pc-only {
    display: block;
}
.dummy {
    border-radius: 0 !important;
    box-shadow: none !important;
    background: transparent !important;
    border: none !important;
    // main and side has no margin or padding
}
@media screen and (min-width: 1000px) {

    #sidebar {
        display: block !important;
        background: transparent;
        box-shadow: none;
    }
    #sidebar-button-open,
    #sidebar-button-close {
        display: none !important;
    }
    #main {
        display: block !important;
    }
}
/* ie */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  .only-main img { 
  max-width: 800px !important; /* otherwise pages will be very long for some reason */
  }
}
@media screen and (max-width: 1000px) {

    .inner-top-menu {
        border-bottom: 1px solid $background-gray;
    }

    .mobile-only {
        display: block !important;
    }
    .pc-only {
        display: none !important;
    }
    .top-side {
        padding: ($base-unit) !important;
    }
    .main {
        border-radius: 0 !important;
    }
    #sidebar {
        display: none;
        background: $white;
        box-shadow: 0 0 6px $background-gray, 0 0 14px hsla(0, 0%, 20%, 0.2);
    }
    #sidebar-button-open {
        display: inline-block;
    }
    .side-in-background:nth-of-type(odd) {
        background-color: $very-light-gray !important;
    }
    .side-hover:hover {
        background-color: $light-gray !important;
    }
    .side-head span {
    background: $white !important;
    }
    .side-head {
        border-bottom-color: $tag-gray !important;
    }
  #page-inner {
  
    p, 
    li,
    #markdown-toc,
    #note p, #note a {
    font-size: ($base-font-size + 2px) !important;
    }
    code {
    font-size: ($base-font-size - 3px) !important;
    }
  }
  
  .in-main-home {
  padding-right: 5% !important;
  }
  .in-main {
  padding-bottom: ($base-unit * 3) !important;
  }
  .only-main {
  max-width: 640px !important;
  }
  .only-main img {
  min-width: auto !important;
  margin-left: auto !important;
  }
  /* ie */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      .only-main img {
          max-width: 100% !important; /* otherwise imgs will overflow although pages will be very long for some reason */
      }
  }
  /* end ie */
  .post-list > li {
  padding-left: 7% !important;
  }
  .post-list-heading {
  margin-left: 7% !important;
  }
  #scroll-btn,
  #scroll-down-btn {
  visibility: visible !important;
  }

  .side, 
  .main,
  .only-main, 
  .main-with-margin {
  flex: 100% !important;
  }
  .indent-novel-list {
  padding-left: 7% !important;
  }
  /* ie */
  //@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  
    //.side,
    //.main,
    //.main-with-margin {
    //min-width: 640px;
    //}
  //}
  /* end ie */
  .in-side,
  .in-main-home,
  .in-main {
  padding-right: 0 !important; /* for proper 'max-width' */
  padding-left: 0 !important; /* for proper 'max-width' */
  max-width: 640px !important;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: $base-unit * 3 !important;
  padding-top: $base-unit * 3 !important;
  }
  .in-side {
  padding-bottom: $base-unit !important; //because side-wrapper has margin-bottom
  }
  .main {

    li {
    padding-right: 0 !important;
    padding-left: 0 !important;
    }
    ul {
    margin-right: 0 !important;
    }
  }


  .inner-bottom-column {
  width: 100% !important;
  margin-bottom: 0 !important;
  }
  .col-1, 
  .col-2 { 
  text-align: left !important;
  }
  .inner-bottom-column {
  margin: 0 !important; 
  }
  .inner-bottom-menu section:not(:first-child) {
  border-top: none !important;
  }
  .inner-bottom-menu :not(:last-child) {
  border-bottom: 1px solid $background-gray;
  }
  .inner-bottom-menu a {
  padding: 0 !important;
  }
  .inner-bottom-menu section {
  margin-right: 0 !important;
  margin-left: 0 !important;
  }
}
@media screen and (max-width: 670px) {
  
  /* max-width = screen width + return padding */
  .side,
  .main,
  .only-main,
  .main-with-margin {
  max-width: 670px !important;
  }
  .in-main-home {
  padding-right: 7% !important;
  padding-top: $base-unit * 2 !important;
  }
  .main {

    ul.post-list li {
    padding-left: 7% !important;
    }
  }
  .only-main,
  .in-main,
  .in-side {
  padding-right: 7% !important;
  padding-left: 7% !important;
  padding-top: $base-unit * 2 !important;
  }
  .only-main {
  padding-bottom: $base-unit * 2 !important; //probably needs to be in 1000px /\
  }
}
@media screen and (max-width: 470px) {
  
  #site-header-inner {
  height: 150px !important;
  }
  .header-img {
  top: -13px !important;
  max-height: 183px !important;
  min-height: 150px !important;
  }
  #site-title-back {
  max-height: 150px !important;
  }
  #site-title {
  margin-top: 83px !important;
  }
  #site-under-title {
  margin-top: 114px !important;
  }
  .mobile-pagination {
  display: block !important;
  }
  .desktop-pagination {
  display: none !important;
  }
    //temporary
    .dummy .side-head {
        line-height: 1.4em !important;
        border: none !important;
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }
}
//temporary
.dummy .side-head {
    margin-bottom: $base-unit;
}

@media screen and (max-width: 450px) { //depends upon number of entries in top-menu

    .inner-top-menu {
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden !important; //issue on mobile in old browsers still
        margin-bottom: 0;
    }
}

/* main */



/* ie */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  .main, 
  .main-with-margin {
  max-width: 70%;
  }
  .side {
  max-width: 30%;
  }
  .only-main, 
  .only-main-top {
  max-width: 100%;
  }
}

.inner-wrap-column {
  display: flex;
  flex-wrap: wrap;
}

// main of "home"
.in-main-home {
    padding: ($base-unit * 3) ($base-unit * 2) ($base-unit * 2) 0;
}
// main of other pages (e.g. categories)
.in-main {
    padding: ($base-unit * 3) ($base-unit * 2) ($base-unit * 3) ($base-unit * 5);

    > section#toc:last-child div:last-child {
        margin-bottom: $base-unit * 3; //issue with padding bottom in arhive
    }
}
// main of post
.only-main {
  padding: ($base-unit * 3) 0;
  max-width: 605px;
  margin-left: auto;
  margin-right: auto;

  .white-img {
  box-shadow: 0 0 10px $background-gray;
  }
}
.only-main img {
  min-width: 700px; //changed with thiner column
  margin-left: -50px;
  cursor: pointer;
}

.main {

    ul {
        margin-right: 0;
    }
    .next-post {
        margin-top: -$base-unit !important;
    }
    .previous-post {
        margin-bottom: -$base-unit !important; //causing issue because of "only-main" padding
    }
}
.main {
    border-radius: 5px;
    align-self: flex-start; //for short posts
  flex: 70%;
  min-width: 1px;
  background-color: white;
  box-shadow: 0 0 6px $background-gray, 0 0 14px hsla(0, 0%, 20%, 0.2);
}
/* main of other pages (e.g. categories) */
.main-with-margin {
  flex: 70%;
}
/* side for both */
.in-side {
  padding: ($base-unit * 6) ($base-unit) ($base-unit) ($base-unit);
  background-color: transparent;
}
.side {
  flex: 30%;
  min-width: 1px;
}
.post-list-heading {
  margin-left: ($base-unit * 5);
}

.pinned-list {

  > li {
  border-bottom: 4px solid $background-gray !important;
  } 

}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
  margin-bottom: $base-unit * 2;
  padding-bottom: $base-unit;
  padding-left: ($base-unit * 5);
  border-bottom: 1px solid $background-gray;
  }
}

.with-indent {
  text-indent: 5.8%;
}



/* header */

.top-nav {

}

.home-link {
  white-space: nowrap;

  span {
  color: $base-gray;
  font-size: $base-font-size;
}
}
//#site-header-inner {
  //height: 210px;
  //margin: 0;

  //> a {
  //text-decoration: none;
  //}
//}

//.header-img {
  //position: relative;
  //top: -20px;
  //max-height: 260px;
  //min-height: 210px;
//}
//#site-title-back {
  //max-height: 210px;
  //overflow: hidden !important;
  //width: auto;
  //margin: 0;
//}



/* site title */



//#site-title h1::selection,
//#site-under-title::selection {
  //text-shadow: 0px 0 0px black;
  //background: $lighter-blue;
  //color: $almost-black;
//}
//#site-title,
//#site-under-title {
  //z-index: 2;
  //white-space: nowrap;
  //text-align: left;
  //z-index: 2;
//}
//#site-title {
//padding-top: 10px;
//}
//#site-under-title {
  //color: $base-gray;
//}



/* top */



.inner-top-menu {
  line-height: 50px;
  height: 50px;
  //background-color: $light-blue; /* hsl(219, 25%, 75%); #b0bbd0; */
  text-align: center;
  cursor: default;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0;
}
.inner-top-menu a {
  //height: 49px; //issue: does not work now
  text-align: center;
  transition: ease-out .2s;
  display: inline-block;
  color: $not-black;
  padding: 0 20px 0 21px;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 22px;
  opacity: .8;
}
.inner-top-menu a:hover,
.inner-top-menu a:focus {
  text-decoration: none !important;
  box-shadow: inset 0 -6px $light-blue;
  opacity: 1 !important;
  color: $link-blue;
}
.active-menu-top, 
.active-menu-top:hover {
  box-shadow: inset 0 -6px $background-gray !important;
  opacity: 1 !important;
}



/* bottom */


/*
.inner-bottom-menu a:hover,
.active-menu {
  color: $base-gray !important;
  text-decoration: none !important;
}

.inner-bottom-menu {
  font-size: $base-font-size - 1px;
  border-top: 1px solid $background-gray;
  background-color: rgba(232,232,232, 0.4); //$light-gray;
  line-height: 40px;
  overflow: hidden;
  text-align: left;
  padding: ($base-unit / 2) 7%;
  margin: 0;
  padding-bottom: $base-unit * 2;

  a {
  color: $not-black;
  text-shadow: 0 1px $white;
  padding: 0 3%;
  margin: 0;
  text-decoration: none !important;
  display: block;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  }
  section { 
  margin-right: 1.5%;
  margin-left: 1.5%; 
  }
}

.inner-bottom-menu section:not(:first-child) {
  border-top: 1px solid $background-gray;
}
.inner-bottom-column {
  width: 100%;
  float:left;
  margin: ($base-unit / 2) 0;
}
.inner-bottom-column a {
  display: block;
}
.inner-bottom-column {
  width: 99.9999%;
}
.count-2 {
  width: 50%;
}
.count-3 {
  width: 33.3333%;
}

.col-1 {
  text-align: right;
}
.col-2 {
  text-align: center;
}
*/
.inner-footer { 
  background-color: $tag-gray;
  color: $light-gray;
  line-height: 50px;
  text-align: center;
  cursor: default;
}



/* pagination */



.pagination {
  font-size: 0; /* remove spacing */
  padding: 0 0 ($base-unit) 0;
  margin-top: -($base-unit * 2);
  cursor: default;
  font-style: normal;
  line-height: 30px;
  text-align: right;
          user-select: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
}
.pagination a,
.pagination span {
  font-size: $base-font-size + 1px; /* return font only to links */
  text-decoration: none;
  padding: 2px 10px;
  min-width: 36px;
  margin-top: -1px;
  color: $link-blue;
  border: 1px solid $background-gray;
  border-right: none;
  display: inline-block;
  text-align: center;
}
.pagination .page-active {
  color: $not-black;
  cursor: default;
  background-color: $light-gray;
}
.pagination .none { 
  display: none;
}
.pagination a:last-child, 
.pagination span:last-child {
  border-right: 4px solid $background-gray;
}
.pagination .page-number-active {
  color: $tag-gray;
  cursor: default;
  background-color: $light-gray;
}
.pagination .page-number {
  color: $base-gray;
}
.pagination a:hover,
.pagination a:focus {
  color: $base-gray;
  background: $very-light-gray
}
.mobile-pagination {
  display: none;
}
.desktop-pagination {
  display: block;
}

/* side content */


.side #side-wrapper:first-child {
  //margin-top: -5px; // temporary
}
#side-wrapper {
  margin: 0;
  cursor: default;
  text-transform: capitalize;
  margin-bottom: ($base-unit * 2);
}
.side-head {
  text-align: center;
  border-bottom: 1px solid $not-black;
  line-height: 0em;
  margin-bottom: $base-unit * 2;
  margin-top: $base-unit;

  > a { 
  color: $almost-black;
  text-decoration: none !important; 
  }
  > a:hover {
  color: $link-blue !important;
  }
}
.side-head span {
    background: $very-light-gray;
    padding: 0 10px;
}
.side-in {
    padding: 2px 5px;
    display: block;
}

.side-in:first-of-type {
    border-radius: 5px 5px 0 0;
}

.side-in:last-of-type {
    border-radius: 0 0 5px 5px;
}
.side-in a {
  text-decoration: none;
}
.side-in-background:nth-of-type(odd) {
  background-color: $light-gray;
}
.nowrap {
  white-space: nowrap;
}
.side-hover:hover {
  background-color: $white;
  color: $almost-black;

  > span time {
  color: $not-black !important; //only for latest amends list
  }
  > a:hover {
  color: $almost-black;
  }
}
.no-cap {
  text-transform: none !important;
}
.archive-item {
  font-weight: normal;
  border-top: 1px solid hsl(0,0%,90%);
  display: block;
  padding: 10px;
  margin: 0;
}
.archive-item a, 
.archive-item h5 {
  text-decoration: none !important;
  margin: 0;
}
.no-margin {
  margin: 0 !important;
}

.flex {
  display: flex;
}
.side-wrapper-string a {
  display: block;
  text-decoration: none;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

/* toc */

.toc {
  margin: 0;
  display: inline;
  text-align: left;
}
.toc {
  transition: 0s;
  padding: 0 4px;
  float: right;
  width: 100% !important;  
  text-decoration: none;
  border-left: 1px solid $background-gray;
  border-top: 1px solid $background-gray;
  border-right: 4px solid $background-gray;
  line-height: $normal-line-height;
  margin-top: -1px;
  text-shadow: 0 -1px $white, 0 -2px $white;

  > a:hover,
  > a:focus {
  color: $almost-black !important;
  }
}
.toc:last-child {
  border-bottom: 1px solid $background-gray;
}
.toc:hover {
  //background-color: $light-gray !important;
  background-color: rgba(232,232,232, 0.5) !important;
  
  > span.base-gray,
  time {
  color: $not-black !important;
  }
}
//#tags-list div:last-child {
//  margin-bottom: 0 !important;
//}
#tags-list li .toc {
  line-height: $small-line-height !important;
}
.toc:nth-of-type(odd) {
  //background-color: $very-light-gray;
  background-color: rgba(232,232,232, 0.3);
}
.date {
  text-align: center;
  pointer-events: none;
  color: $almost-black !important;
  background-color: $light-gray !important;
  text-transform: capitalize;
}
.category-post-date {
  float: right;
  white-space: nowrap;
  color: $base-gray;
}

.base-gray {
  color: $base-gray;
}
span.small { 
  font-size: ($base-font-size - 3px) !important; 
  opacity: .5 !important;
}
.tag-category-title { 
  color: $tag-gray;
}
.half-opacity { 
  opacity: .5;
}



/* tag page */



.tag-title { 
  margin-top: ($base-unit * 2);
}

#tags-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

#tags-list li:nth-of-type(even) div {
  background-color: $white;
}
#tags-list li:last-child div {
  margin-bottom: $base-unit; //issue with bottom padding on archive page
}



/* post switch */



.switch-post {
  text-align: center;
  font-weight: 400;
  font-size: 22px; /* = top-menu font-size */
}
.switch-post a {
  line-height: 50px;
  padding: 0 7%;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  overflow-x: hidden;	
  text-overflow: ellipsis;
  text-shadow: 0 -1px $white, 0 -2px $white;
}
.switch-post {

  a:hover, 
  a:focus {
  color: $not-black;
  //background-color: $light-gray;
  }

  a:hover i, 
  a:focus i {
  border-color: $not-black;
  }
}
.switch-off { 
  background: transparent !important; 
  border-color: transparent !important; 
  pointer-events: none !important; 
          user-select: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-drag: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
}

.previous-post {
  border-bottom: 1px solid $background-gray;
  height: 50px;
  border-radius: 5px 5px 0 0;
  background-color: $very-light-gray;

  a:hover,
  a:focus {
  color: $not-black;
  background-color: $light-gray;
  }
}
.previous-post a {
  color: $base-gray;
}
.previous-post:hover, 
.previous-post:focus { 
  border-bottom: 1px solid $background-gray;
}

.next-post { //issue with short posts
  border-top: 1px solid $background-gray;
  background-color: rgba(232,232,232, 0.3);
  color: $almost-black; 
  height: 100px;
  border-radius: 0 0 5px 5px;

  a:hover {
  background-color: rgba(232,232,232, 0.5);}
}
.next-post a { 
  color: $not-black;
}
.next-post:hover,
.next-post:focus {
  border-top: 1px solid $background-gray;
}
a.bigger { 
  font-size: ($base-font-size + 2px) !important;
}



/* post meta and insides */



.post-meta {
  text-align: left !important;
  text-transform: capitalize;
  font-size: ($base-font-size) !important;
  font-style: italic;
  color: $base-gray;
  cursor: default;
  
  span,
  time  {
  font-size: ($base-font-size) !important;
  }
}

.post-meta a {
  font-size: ($base-font-size) !important;
  font-style: italic;
  color: $base-gray;
  text-decoration: none;
}
/*.post-meta a:not(:last-child)::after {
  content: ', ';
}*/

.post-meta a:hover { color: $not-black; }

.bottom-meta {
  border-top: 1px solid $background-gray;
  padding-top: $base-unit !important;
}


/* tag / date */



.tag {
  border: 1px solid $background-gray;
  border-right: 4px solid $background-gray;
  text-transform: capitalize;
  padding: 0px 9px 0px 6px;
  margin: 0 2px;
  display: inline;
  color: $base-gray;
  white-space: nowrap;
  font-style: italic;
  background: $very-light-gray;
  text-shadow: 0 -1px $white, 0 -2px $white;
}
.post-meta .tag:hover {
  box-shadow: 0 2px 5px $light-gray;
}

.archive-date {
  color: $base-gray;
  cursor: pointer;
          user-select: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
}
.archive-date:hover {
  background-color: $light-gray !important;
  color: $not-black;
}
.filter-date {
  display: none; /* Hidden by default */
}
.show-date {
  display: block;
}
.archive-date.active {
  color: $not-black !important;
  pointer-events: none !important;
  background-color: $light-gray !important;
}

#archive-date-container {
}
.archive-page {
  font-size: $base-font-size;

  ul#tags-list {
  margin-top: $base-unit * 1.5;
  font-size: $base-font-size;

    > li:last-child div.toc {
        margin-bottom: $base-unit * 3;
    }
  
    a, span, time {
    font-size: $base-font-size;
    }
  }
}
.time {
}
.time-up {
  color: $base-gray;
  white-space: nowrap;
}

.post-link a {
  transition: .1s;
  color: $almost-black; 
  text-decoration: none;
  display: block;
  text-align: left !important;
}

.post-link a:hover,
.post-link a:focus {
  color: $link-blue;
}
.in-block {
  display: inline-block !important;
}

.post-categories {
  cursor: default;
}
.post-categories a {
  font-size: $base-font-size;
  transition: .1s;
  text-decoration: none;
  font-style: italic;
  font-weight: 400;
}

.post-categories a:not(:last-child)::after,
.meta-categories a:not(:last-child)::after {
  content: ', ';
}

.main-title {
  text-align: center;
  margin: ($base-unit * 1.5) 0 ($base-unit * 3) 0;
  line-height: $small-line-height;

  > a { 
  color: $almost-black;
  text-decoration: none !important; 
  }
  > a:hover,
  > a:focus {
  color: $link-blue !important;
  }
}

.post-content { 
  margin: $base-unit 0;
}

.post-header {

  > p, 
  > h3, 
  > div {
  margin: 0;
  line-height: $base-line-height;
  margin-bottom: $base-unit / 2;
  }
}

.low-line { 
  margin-bottom: -$base-unit / 2 !important;
}

.spoiler {
  background: $almost-black;
  color: transparent;
  transition: .1s;
  transition-delay: .5s;
}
.spoiler:hover {
  transition-delay: 0s;
  background: $light-gray;
  color: $almost-black;
}



/* scroll */



i.button-arrow-up {
  border: solid $base-gray;
  border-radius: 3px;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  margin-bottom: -3px;
          transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
     -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
       -o-transform: rotate(-135deg);
}
i.button-arrow-down-2 {
  border: solid $base-gray;
  border-radius: 3px;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 6px;
  margin-bottom: 1px;
          transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
}
i.button-arrow-down {
  border-style: double !important;
  border: solid $not-black;
  border-radius: 2px;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  margin-bottom: 9px;
  transition: .2s;
          transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
}

@keyframes fade {
  from { opacity: 0; }
  to {   opacity: 0.4; }
}

.scroll-down-btn {
  visibility: hidden;
  position: fixed;
  bottom: $base-unit;
  right: 3%;
  z-index: 9;
  font-size: 18px;
  outline: none;
  background-color: $light-gray;
  cursor: pointer;
  width: ($base-unit * 4);
  height: ($base-unit * 4);
  border-radius: 50%;
  border: none;
  opacity: .4 !important;
  transition: .4s;
}

.scroll-btn-up {
  visibility: hidden;
  display: none;
  position: fixed;
  bottom: $base-unit;
  right: 3%;
  z-index: 9;
  font-size: 18px;
  outline: none;
  background-color: $light-gray;
  cursor: pointer;
  width: ($base-unit * 4);
  height: ($base-unit * 4);
  border-radius: 50%;
  border: none;
  opacity: .4 !important;
  will-change: transform;
  transition: transform 0.25s ease-in-out;
  transition: .4s;
}
.scroll-btn-up:hover,
.scroll-down-btn:hover {
  box-shadow: 0 0 5px $not-black;
}

.btn-unpin {
          transform: translateX(120px);
      -ms-transform: translateX(120px);
     -moz-transform: translateX(120px);
  -webkit-transform: translateX(120px);
}
.btn-pin {
          transform: translateX(0px);
      -ms-transform: translateX(0px);
     -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
}



/* dropdown */



//.dropdown:hover > .dropbtn,
.dropbtn:hover {
  //background: $light-gray;
  background-color: rgba(232,232,232, 0.5);
  color: $almost-black;
}
.dropdown {
  display: block;
  min-width: 100%;
  margin: $base-unit 0;

  a {
  transition: 0s !important;
  }
}
.dropbtn {
  font-family: 'JunicodeNew', "Times New Roman", Times, serif;
  //background-color: $very-light-gray;
  background-color: rgba(232,232,232, 0.3);
  color: $not-black;
  font-size: $base-font-size;
  line-height: 1.2em;
  text-align: left;
  padding: 3px 8px;
  cursor: pointer;
  min-width: 100%;
  border: 1px solid $background-gray;
  border-right: 4px solid $background-gray;
  border-radius: 0 !important;
  transition: .2s;
  margin: 0;
  text-shadow: 0 -1px $white, 0 -2px $white;
}
/* ie */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  .dropbtn {
  padding: 0px 10px;
  }
  .dropdown-content {
  margin-top: -3px;
  }
}
.drop-opened {
  //background: $light-gray;
  background-color: rgba(232,232,232, 0.5);
  color: $almost-black;
}
.drop-opened:before {
  content: '';
  border: solid $not-black;
  border-radius: 0 0 1px 0;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-bottom: 2px;
  margin-right: 6px;
          transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
     -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
       -o-transform: rotate(-135deg);
}
.drop-closed:before {
  content: '';
  border: solid $not-black;
  border-radius: 0 0 1px 0;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin-bottom: 4px;
  margin-right: 6px;
          transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
}
//.dropdown:hover > .drop-opened:before,
.dropdown:hover > .drop-closed:before,
.drop-opened:before {
  border: solid $almost-black;
  border-radius: 0 0 1px 0;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transition: .4s !important;
}
.dropdown-content {
  display: none;
  transition: .1s;
  min-width: 100%;
  box-shadow: -2px 4px 4px $light-gray;
}
.dropdown-content > #tags-list div {
  padding: 0 4px 0 8px;
}
.dropdown-content > #tags-list .toc:last-child a { 
  border-bottom: none !important; 
}
.dropdown-content > #tags-list .toc a {
  color: $base-gray;
}
.dropdown-content > #tags-list .toc:hover {
  color: $not-black !important;
}
.dropdown-content > #tags-list a:visited {
  color: $link-blue;
}
.dropdown-content > #tags-list {
  max-height: 200px;
  overflow-y: scroll;
          transform: scaleX(-1); /* Reflects the parent horizontally */
  -webkit-transform: scaleX(-1);
     -moz-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
       -o-transform: scaleX(-1);
}
.dropdown-toc .dropdown-content > #tags-list {
  max-height: 500px;
}
.dropdown-content > #tags-list div {
          transform: scaleX(-1); /* Flips the child back to normal */
  -webkit-transform: scaleX(-1);
     -moz-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
       -o-transform: scaleX(-1);
}
.dropdown-content-no-list {
  background-color: $very-light-gray;
  border: 1px solid $background-gray;
  border-right: 4px solid $background-gray;
  border-top: none !important;
  padding: 0 8px;
  padding: ($base-unit / 2) 5.3% ($base-unit / 2) 3%;  /* look the "blockquote" (mirrored) */
}
.show-dropdown {
  display: block;
}



details {
  background-color: $very-light-gray;
  text-align: left;
  padding: 0 8px;
  cursor: pointer;
  min-width: 100%;
  border: 1px solid $background-gray;
  border-right: 4px solid $background-gray;
  transition: .2s;
  border-radius: 0 !important;
  
  summary {
  color: $base-gray;
  }
}



/* note */



.cropped { 
  max-height: 56px;
  overflow: hidden;
}
/* for ie long links */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  #note { 
  word-break: break-all;
  } 
}
.note-wrapper {
  position: relative;
  overflow: hidden;
  margin-top: $base-unit;
  margin-bottom: $base-unit;
}
.note-wrapper .note-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
}
.note-wrapper .note-overlay:hover {
  cursor: row-resize !important;
}
.note-wrapper #note {
  margin: 0 !important;
  position: relative;
  z-index: 1;
}
.pinned {
  font-size: 20px; 
  color: $base-gray;
  font-style: italic;
}



/* markdown table of contents */



ul#markdown-toc {
  list-style: bullets;
  depth: 1;
}
#markdown-toc {
  border: 1px solid $background-gray;
  border-right: 4px solid $background-gray;
  background-color: $very-light-gray;
  padding: 1em 2em;
  list-style: decimal;
  display: inline-block;
  color: $not-black;
}
#markdown-toc:before { 
  content: 'Table of contents';
}
#markdown-toc li a {
  text-decoration: none;
}
#markdown-toc li:hover a {
  color: $base-gray;
}
#markdown-toc li:first-child {
  margin-top: .5em;
}



/* drop cap */



/* chromium */
/* @media screen and (-webkit-min-device-pixel-ratio:0) {

  p.first-paragraph::first-letter {
  font-size: 550%;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: .28em !important;
  float: left;
  }
} */
/* ie */
/* @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  p.first-paragraph::first-letter {
  font-size: 550%;
  display: inline-block;
  padding-bottom: 10px;
  padding-top: .28em !important;
  float: left;
  }
} */
/* firefox */
/* @-moz-document url-prefix() {

  p.first-paragraph::first-letter {
  font-size: 550%;
  display: inline-block;
  padding: 0;
  padding-top: .075em !important;
  float: left;
  }
} */

.copying-footer {
    font-size: 15px;
    line-height: 1.5em;
    padding: 4px 4px 0 4px;
    text-align: right;
}
