---
layout: columns-full-cats
permalink: /categories
title: Categories
---

<ul id="tags-list">
{% assign cats_list = site.categories %}  
  {% if cats_list.first[0] == null %}
    {% for cat in cats_list %} 
      <li><a href="#{{ cat }}">{{ cat }} <span>{{ site.cats[cat].size }}</span></a></li>
    {% endfor %}
  {% else %}
    {% for cat in cats_list %} 
      <li><div class="toc"><a href="#{{ cat[0] }}">{{ cat[0] }} (<span>{{ cat[1].size }}</span>)</div></a></li>
    {% endfor %}
  {% endif %}
{% assign cats_list = nil %}
</ul>

{% for tag in site.categories %} 
<h3 class="post-link with-indent" id="{{ tag[0] }}">
<a href="/categories/{{ tag[0] | slugify }}">{{ tag[0] }}</a>
</h3>
  <ul id="full-cat-list">
    {% assign pages_list = tag[1] %}  
    {% for post in pages_list %}
      <li><div class="toc"><a href="{{ site.url }}{{ post.url }}">{{ post.title | strip_html | truncatewords: 12 }}<br>
	  <!-- tags -->
			 {% if post %}
			 {% assign tags = post.tags | sort %}
			 {% else %}
			 {% assign tags = page.tags | sort %}
			 {% endif %}
			 {% for tag in tags %}
			 <span class="tag">{{tag}}</span>
			 {% unless forloop.last %}<!--&nbsp;-->{% endunless %}
			 {% endfor %}<span class="category-post-date">
		  {%- assign date_format = site.minima.date_format | default: "%Y %B %d" -%}
		  {{ post.date | date: date_format }}
		  </a></div></li>
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}
