---
layout: base-page-title
title: The Marriage of the Vixen-chan
cat-description: |
 "I've come here as your bride!"<br>
 <br>
 The girl she was dating has rejected her in a way she could have never expected, and, what is more, her misfortunes continued throughout a daily life and at work.<br>
 When, before this  exhausted to the core Fuyuka Hiragi, putting in an appearance a maiden with ears of vixen and bushy tail, who introduced herself as Ohana.<br>
 Whilst being bewildered by her saying of becoming a wife, Fuyuka gradually opens her heart to cheerful, slightly clumsy, but tender towards her girl.<br>
 This story is a warm and gentle tale of certain worn-out member of society and vixen-girl, who have come to her as her bride.
description-name: Summary
permalink: /categories/the-marriage-of-the-vixen-chan
---

<div class="smaller-header-image-wrapper align-center">
<div class="start-h2">{{ page.description-name }}</div>
</div>

<p class="cat-description">{{ page.cat-description | smartify }}</p>

<hr>

<p>Original:
<a class="bigger" href="https://ncode.syosetu.com/n1514fx/" target="_blank">お狐ちゃんのお嫁入り</a>&nbsp;<span class="small">(O-Kitsune-chan no O-Yomeiri)</span><br>
Writer: <a class="bigger" href="https://twitter.com/kumani0619" target="_blank">熊煮</a>&nbsp;<span class="small">(Kumani)</span></p>

<hr>

<p>Genre: Real World [Romance]<br>
Keywords: Age Difference, Daily Life, Female Protagonist, Gentle Universe, Girls' Love,   Heartwarming, Happy Ending, Onee-Loli, R-15, Vixen-girl, Yuri
</p>

<div class="smaller-header-image-wrapper align-center">
<div class="start-h2">Table of Contents</div>
</div>

<section id="toc">


{% include chapter.html category='The Marriage of the Vixen-chan' chapter='Chapter 1. Encounter between Fuyuka Hiragi and vixen Ohana.' chapter-type='Chapter 1.' id='chapter1' %}


{% include chapter.html category='The Marriage of the Vixen-chan' chapter='Chapter 2. Vixen and a Spring Pattern.' chapter-type='Chapter 2.' id='chapter2' %}


</section>

{%- include footnote.html -%}
