---
layout: columns-page
permalink: /archives
title: Archives
---
<div class="archive-page">
 <!-- control -->
<section id="archive-date-container" class="js-only">
<div class="dropdown">
  <button type="button" onclick="dropdownFunction()" id="closed" class="dropbtn drop-closed" title="Expand date filters">&#8239;Date filters</button>
  <div id="myDropdown" class="dropdown-content">
	<section id="tags-list">
    <div class="toc archive-date active" onclick="filterSelection('all')"><a>Display all ({{ site.posts | size }})</a></div>
    {% assign counter = 0 %}
  {% for post in site.posts %}
    {% assign thisyear = post.date | date: "%Y %B" %}
    {% assign prevyear = post.previous.date | date: "%Y %B" %}
    {% assign counter = counter | plus: 1 %}
  {% if thisyear != prevyear %}
    <div class="toc archive-date" onclick="filterSelection('{{ thisyear }}')"><a>{{ thisyear }} ({{ counter }})</a></div>
    {% assign counter = 0 %}
  {% endif %}
  {% endfor %}
	</section>
  </div>
  </div>
</section>

<!-- list -->
<ul id="tags-list" class="no-js-block">
{% for post in site.posts %}
  {% assign current_date = post.date | date: "%Y %B" %}
  {% if current_date != date %}
	<div class="toc date filter-date {{current_date}} no-js-block"><a id="{{current_date}}">{{ current_date }}</a></div>
	{% assign date = current_date %} 
  {% endif %}
	<li><div class="toc filter-date {{current_date}} no-js-block">
	<a title="{{post.categories}} ・ {{post.title}}" href="{{ site.baseurl }}{{ post.url }}">
	<span class="tag-gray">{{ post.categories | replace: '["','' | replace: '"]','' }}
	</span><br>
	{{ post.title | strip_html }}
	<time class="category-post-date" title="{%- assign date_full_format = "%d/%m/%Y %H:%M:%S UTC" -%}{{ post.date | date: date_full_format }}" datetime="{{ post.date | date_to_xmlschema }}">{%- assign date_format = "%B %d %a." -%}{{ post.date | date: date_format }}
	</time>
	</a>
	</div></li>
{% endfor %}
</ul> 
</div>

<script src="/src/js/filter-date.js" type="text/javascript"></script>

