---
layout: columns-page
title: Para・Witches
cat-description: | 
 A modern witch-story woven by a pair of witches with paradoxical personalities.
 <br><br>
 Being named a genius before, she have lost her magic and remembrance, and could no longer fly high up in the sky.<br>
 A girl, a student of Tokyo University of Arts and Music, of an absurd personality—"Space Magician: Tsugumi,"
 <br><br>
 The one who have pursued her and arrived here, to Tokyo,
 a bothersome girl, a slight stalker—"Witch of Justice: Rino."
 <br><br>
 Whereas solving diverse a troubles that had its occur amid Tokyo,
 two rugged individuals playing an active part in recovering a lost force of the girl.
 <br><br>
 What is the answer that will choose the pair, and what the whereabouts of their love——
 <br><br>
 ＜Characters＞<br>
 Tsugumi Kominato&#8239; (19) "Space Magician"<br>
 Rino Honda&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8239;&hairsp;&hairsp;&hairsp;&hairsp;(18) "Witch of Justice"<br>
 <br>
 Himeka Kitazawa&nbsp;&nbsp;&nbsp;&#8239;&#8239;&hairsp;&hairsp;(15) "Witch of Illusion <span class="small">(Bewitching)</span>"<br>
 Yayoi Fujimoto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8239;&hairsp;(27) "Witch of Disaster"
permalink: /categories/para-witches
---
<h4 class="with-indent">Elucidation <span class="small"></span></h4>


<div class="dropdown cat-description no-js-block">
  <button type="button" onclick="dropdownFunction()" id="closed" class="dropbtn drop-closed">&#8239;<em>(Beware! exposes quite a part of the story.)</em></button>
  <div id="myDropdown" class="dropdown-content dropdown-content-no-list cat-description no-js-block">
	<p class="cat-description">{{ page.cat-description }}</p>
  </div>
</div>



<hr>



<p>Original: 
<a class="bigger" href="https://kakuyomu.jp/works/1177354054889003864"  target="_blank">ウィッチ・フイッチ</a> 
<span class="small"> (U~icchi・Fuicchi)</span><br>
Author: <a class="bigger" href="https://kakuyomu.jp/users/yukiToy"  target="_blank">結城十維</a>  <span class="small"> Yuki Toy </span></p>



<hr>



<p>Genre: Contemporary Fantasy<br>
Tags:  Contemporary Light Novel, Girls Love, University Student, Witchcraft, Witches, Yuri
</p>



<hr>



<h4 class="with-indent">Table of Contents</h4>

<section id="toc">
{% assign Intro = site.posts | where: "categories", "Para Witches" | where_exp: "item", "item.chapter-type contains 'Intro.'" | reverse %}
<section class="toc date"><a>Intro.</a></section>
{% for post in Intro %}  
	
	{%- include cat.html -%}
	
{% endfor %}
</section>



<section id="toc">
{% assign Section1 = site.posts | where: "categories", "Para Witches" | where_exp: "item", "item.chapter-type contains 'Section 1.'" | reverse %}
<section class="toc date"><a>Section 1. Flightless Witch.</a></section>
{% for post in Section1 %}  
	
	{%- include cat.html -%}
	
{% endfor %}
</section>
