---
layout: columns-page
title: Para・Witches (discontinued)
cat-description: | 
 A modern witch-story woven by a pair of witches with paradoxical personalities.
 <br><br>
 Being named a genius before, she have lost her magic and remembrance, and could no longer fly high up in the sky.<br>
 A girl, a student of "Tokyo University of Arts and Music" of an absurd personality—"Space Magician: Tsugumi,"
 <br><br>
 The one who have pursued her and arrived here, to Tokyo,
 a bothersome girl, a slight stalker—"Witch of Justice: Rino."
 <br><br>
 Whereas solving diverse a troubles that had its occur amid Tokyo,
 two rugged individuals playing an active part in recovering a girl's lost force.
 <br><br>
 As for the answer that the pair will choose, and the whereabouts of their love——
 <br><br>
 ＜Characters＞<br>
 Tsugumi Kominato&#8239; (19) "Space Magician"<br>
 Rino Honda&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8239;&#8239;(18) "Witch of Justice"<br>
 <br>
 Himeka Kitazawa&nbsp;&nbsp;&nbsp;&#8239;&#8239;&hairsp;&hairsp;(15) "Witch of Illusion <span class="small">(Bewitching)</span>"<br>
 Yayoi Fujimoto&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&#8239;&hairsp;(27) "Witch of Disaster"
permalink: /categories/para-witches
---
<h4 class="with-indent">Elucidation <span class="small"></span></h4>


<div class="dropdown cat-description no-js-block">
  <button type="button" onclick="dropdownFunction()" id="closed" class="dropbtn drop-closed"><em>(Beware! exposes quite a part of the story.)</em></button>
  <div id="myDropdown" class="dropdown-content dropdown-content-no-list cat-description no-js-block">
	<p class="cat-description">{{ page.cat-description }}</p> <!--karamdown do not process the .html files-->
  </div>
</div>



<hr>



<p>Original: 
<a class="bigger" href="https://kakuyomu.jp/works/1177354054889003864"  target="_blank">ウィッチ・フイッチ</a> 
<span class="small"> (U~icchi・Fuicchi)</span><br>
Author: <a class="bigger" href="https://kakuyomu.jp/users/yukiToy"  target="_blank">結城十維</a>  <span class="small"> (Yuki Toy) </span></p>



<hr>



<p>Genre: Contemporary Fantasy<br>
Tags:  Contemporary Light Novel, Girls Love, University Student, Witchcraft, Witches, Yuri
</p>



<hr>



<h4 class="with-indent">Table of Contents</h4>

<section id="toc" itemscope itemtype="http://schema.org/Blog">
{% assign Intro = site.posts | where: "categories", "Para Witches" | where_exp: "item", "item.title contains 'Intro.'" | reverse %}
<section class="toc date">Intro.</section>
{% for post in Intro %}  
	
	{%- include cat.html -%}
	
{% endfor %}
</section>



<section id="toc" itemscope itemtype="http://schema.org/Blog">
{% assign Part1 = site.posts | where: "categories", "Para Witches" | where_exp: "item", "item.title contains 'Part 1.'" | reverse %}
<section class="toc date">Part 1. Flightless Witch.</section>
{% for post in Part1 %}
	
	{%- include cat.html -%}
	
{% endfor %}
</section>

<section id="toc" itemscope itemtype="http://schema.org/Blog">
{% assign Part2 = site.posts | where: "categories", "Para Witches" | where_exp: "item", "item.title contains 'Part 2.'" | reverse %}
<section class="toc date">Part 2. Forgotten Witch.</section>
{% for post in Part2 %}
	
	{%- include cat.html -%}
	
{% endfor %}
</section>

<section id="toc" itemscope itemtype="http://schema.org/Blog">
{% assign Part3 = site.posts | where: "categories", "Para Witches" | where_exp: "item", "item.title contains 'Part 3.'" | reverse %}
<section class="toc date no-cap">Part 3. Witch of Darkness.</section>
{% for post in Part3 %}

	{%- include cat.html -%}

{% endfor %}
</section>

{%- include footnote.html -%}
