/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
  color: #393959;
  line-height: 1.6em;
}

p {
  color: #222222;
}

sup { padding: 0px 2px; margin-top: 60px !important; vertical-align: top; position: relative; top: -0.5em; }

h1, h2, h3, h4, h5, h6, {
}
::selection {
  background: #dce3ef;
  color:#222222;
}

hr {
    display: block;
    text-align: left;
    margin: 1em 0;
    border: none;
    height: 1px;
    background: #EEEEEE;
}

h1 {
    font-size: 32px;
}
h2 {
    font-size: 28px;
}
h3 {
    font-size: 26px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 19px;
}
h6 {
    font-size: 18px;
}

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}



/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;  
}



/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #f8f8f8;
}

code {
    font-family: Consolas, Monaco, Monospace, Courier;
    color: #c7254e;
	background-color: #f9f2f4;
	padding: 0.1em 0.3em;
	border-radius: 5px;
    word-break: break-word;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
	border: 0;
	font-size: 16px;
    display: block;
    padding: 0.5em;
    color: #222222;
    background-color: #f8f8f8;
	border-radius: 5px;
    line-height: 1.6em;
    font-family: Consolas, Monaco, Monospace, Courier;
    white-space: pre;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
  }
}



/**
 * Links
 */
a {
  color: #556a8c;
  text-decoration: underline;
  transition: .2s;

  &:hover {
  color: #999999;
  text-decoration: none;
  }
}



* {
  box-sizing: border-box;
}

/* wrap */

.page-inner-main {
    min-height: 100vh;
	padding-top: 100px;
	padding-bottom: 100px;
}
#page-inner { 
  max-width: 1200px;
  width: 100%; 
  padding: 0; 
  background: white; 
  margin-right: auto; 
  margin-left: auto;
  height:100%;
}
@media screen and (max-width: 1000px) {
  #page-inner {
     width: 98% !important;
   }
   .side {
	   padding: 20px 40px !important;
	   flex: 100% !important;
	}
	.main {
	   padding: 20px 40px 20px 0px!important;
	   flex: 100% !important;
	}
	.only-main {
	   padding: 20px 40px !important;
	   flex: 100% !important;
	}
}
#page-inner p { 
  font-size: 18px;
  line-height: 1.6em;
  text-align: justify;
  padding: 0;
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}
