
* {
  box-sizing: border-box;
}

/* wrap */

.page-inner-main {
    min-height: 100vh;
	padding-top: 100px;
	padding-bottom: 100px;
}
#page-inner { 
  max-width: 1200px;
  width: 100%; 
  padding: 0; 
  background: $white; 
  margin-right: auto; 
  margin-left: auto;
  height:100%;
}
@media screen and (max-width: 1000px) {
    #page-inner {
       width: 98% !important;
    }
	#page-inner p { font-size: 17px !important; }
    .side {
	   padding: 0 5% 20px 5% !important; /* 40px = 5% everywhere */
	}
	.main {
	   padding: 0 5% 20px 0 !important;
	}
	.main-with-margin {
	   padding: 0 5% 20px 5% !important;
	}
	.only-main {
	   margin: 0 5% 20px 5% !important;
	}
   .post-list li {
       padding-left: 5% !important;
	}
	.post-list-heading {
       margin-left: 5% !important;
	}
}
@media screen and (max-width: 800px) {
    .side, .main, .only-main, .main-with-margin {
	   flex: 100% !important;
	}
	.side-head {
	  text-align: left !important;
	}
}
#page-inner p { 
  font-size: 19px;
  line-height: 1.6em;
  text-align: justify;
  padding: 0;
}


/* header */

#site-header-inner { 
  height: 210px;
  margin: 0;
  text-align: center;
}
#site-title-back {  
  max-height: 210px;
  overflow: hidden !important;
  width: auto;
  margin: 0;
}
#site-title-back img {  
  pointer-events: none;
}

/* site title */

#site-title h1::selection, #site-under-title::selection {
  text-shadow: 0px 0 0px black;
  background: $lighter-blue;
  color: $almost-black;
}
#site-title, #site-under-title {
  text-align: left;
  text-shadow: -1px 0 2px $white, 0 -1px 2px $white, 1px 0 2px $white, 0 1px 2px $white, 0 0 5px $white, 0 0 5px $white, 0 0 15px $white, 0 0 15px $white, 0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white,0 0 15px $white;
  position: absolute;
  z-index: 99;
  white-space: nowrap;
}
#site-title { 
  text-decoration: none;
  margin-left: 5%;
  margin-top: 129px;
}
#site-under-title { 
  margin-left: 5%;
  margin-top: 175px;
  color: $base-gray;
  font-style: italic; 
}

/* top */

.inner-top-menu {
    line-height: 50px;
    background-color: $light-blue; /* hsl(219, 25%, 75%); #b0bbd0; */
    font-weight: bold;
    text-align: center;
    cursor: default;
}
.inner-top-menu a {
    transition: .4s;
    display: inline-block;
    color: hsla(0,0%,0%,0.6);
    padding: 0 10px;
    margin: 0;
    transition: .1s;
    text-decoration: none !important;
    text-transform: uppercase;
    transform: scale(.9, 1);
}
.inner-top-menu a:hover, .inner-bottom-menu a:hover, .active-menu {
    color: hsla(0,0%,0%,0.3) !important;
    text-decoration: none !important;
}
.active-menu {
    pointer-events: none !important;
}

/* bottom */


.inner-bottom-menu {
  border-top: 1px solid $background-gray;
  background-color: $light-gray;
  line-height: 50px;
  overflow: hidden;
  text-align: left;
  padding: 20px;
  margin:0;
}
.inner-bottom-menu a {
  text-transform: capitalize;
  color: hsla(0,0%,0%,0.5);
  padding: 0 20px;
  margin: 0;
  margin-right: 20px;
  text-decoration: none !important;
  display: block;
  border-bottom: 1px solid $background-gray; 
}
.inner-bottom-column {
  width: 100%;
  float:left;
  margin: 10px 0;
}
.inner-bottom-column a {
  display: block;
}
 .inner-bottom-column {
  width: 99.9999%;
}
.inner-bottom-column-count-2 {
  width: 50%;
}
.inner-bottom-column-count-3 {
  width: 33.3333%;
}
.inner-footer { 
    background-color: $tag-gray;
	color: $light-gray;
    line-height: 50px;
    text-align: center;
    cursor: default;
}


/* main */


.inner-wrap-column { 
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
}
.main {   
  flex: 70%;
  padding: 20px 20px 20px 0;
}
.main-with-margin {   
  flex: 70%;
  padding: 20px 40px 20px 100px;
}
.side {
  flex: 30%;
  padding: 20px 40px;
}
.only-main {
  flex: 100%;
  margin: 20px 100px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.only-main-top {
  flex: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}


.post-list-heading {
  margin-left: 100px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    /* padding-top: 20px; */
    margin-top: 20px;
	padding-bottom: 20px;
	padding-left: 100px;
	/*padding-right: 2%;
	margin-right: -2%;*/
	border-bottom: 1px solid $background-gray; 
  }
  
  /*> li:first-child {
    margin-top: -20px;
  }
  
  > li:hover { box-shadow: 1px -1px $background-gray, 1px 0 $background-gray, 0 -1px $background-gray; }*/
}


/* for translations  */

/*.visited a::before:visited {
  content: '- ';
}*/

.with-indent {
  text-indent: 5%;
}


/* pagination */

.pagination {
  text-align: center;
  cursor: default;
  font-style: normal;
  margin: 0;
}
.pagination a, .pagination span {
  text-decoration: none;
  padding: 5px;
  color: $link-blue;
  margin: 0;
}
.pagination .page-active {
  display: none;
}
.pagination .page-number-active {
  color: $base-gray;
  cursor: default;
}
.pagination a:hover {
  color: $base-gray;
}

/* side content */


#archives {
  margin: 30px 0;
  cursor: default;
  text-transform: capitalize;
}
.side-head {
  text-align: center;
  margin: 20px 0 10px 0;
  padding-bottom: 10px;
	border-bottom: 1px solid $background-gray; 
}
.side-in a {
  text-decoration: none;
}
.no-cap {
  text-transform: none;
}
.archive-item {
  font-weight: normal;
  border-top: 1px solid hsl(0,0%,90%);
  display: block;
  padding: 10px;
  margin: 0;
}
.archive-item a, .archive-item h5 {
  text-decoration: none !important;
  margin: 0;
}
.no-margin {margin: 0;}


/* toc */


.toc {
  margin: 0;
  display: inline;
  text-align: justify;
}
.toc a {
  padding: 0 4px;
  float:right;
  width: 100% !important;  
  text-decoration: none;
}
.toc a:hover { background-color: $light-gray !important; }
.toc:nth-child(even) a {
  background-color: hsla(0,0%,98%, 0.5);
}
.category-post-date {  
  float: right;
  white-space: nowrap;
  color: $tag-gray;
}
span.small { font-size:14px !important; opacity:.5 !important; }

.tag-category-title { 
  color: $tag-gray;
}

/* tag page */

.tag-title {
  margin-top: 40px;
}

#tags-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#tag-search {
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  font-size: 18px;
  padding: 12px 20px;
  border: 1px solid $background-gray;
  margin-bottom: 20px;  
  transition: .2s;
}

#tag-search:hover { border: 1px solid $base-gray; }

#tags-list li:nth-child(odd) a {
  background-color: hsla(0,0%,98%, 0.5);
}




.switch-post {
  text-align: center;
  background-color: hsla(0,0%,98%, 0.5);
  position:relative; 
}
.switch-post a { 
  /* white-space: nowrap; 
  overflow: hidden; */
  line-height: 50px;
  padding: 0 5%;
  display: block;
  color: $base-gray; 
  text-decoration:none; 
}
.switch-post a:hover, .switch-post a:focus { color: $almost-black; background-color: $light-gray;
}
.previous-post {
  border-bottom: 1px solid $light-gray;
  top:-40px;
  margin-bottom: -30px;
}
.previous-post:hover, .previous-post:focus { border-bottom: 1px solid $background-gray; 
}
.next-post { 
  border-top: 1px solid $light-gray;
  bottom: -40px; 
  margin-top: -30px;
}
.next-post:hover, .next-post:focus { border-top: 1px solid $background-gray;
}
a.bigger { font-size: 20px !important; 
}


/* ―― */

.dash{
width:2em;
height:0.6em;
display:inline-block;
overflow:hidden;
text-indent:-5em;
position:relative;
margin:0;
}
.dash:before{
content:'';
display:block;
position:absolute;
top:50%;
left:0;
width:100%;
height:0;
border-top:1px solid;
}
.dash:before{
border-top-color: black !important;
}

/**
 * Page content
 */
/*.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}*/

.page-heading {
/*  @include relative-font-size(2);*/
}



.post-meta {
  text-align: left !important;
  text-transform: capitalize;
  font-size: 17px !important;
  font-style: italic;
  color: $base-gray;
  cursor: default;
}

.post-meta a {
  font-size: 17px !important;
  font-style: italic;
  color: $base-gray;
  text-decoration: none;
}
/*.post-meta a:not(:last-child)::after {
  content: ', ';
}*/
.post-meta a:hover {
  color: $not-black;
}

.tag {
  border: 1px solid $tag-gray;
  padding: 2px 4px;
  border-radius: 2px;
  margin: 0 2px;
  display: inline;
}

.tag:hover {
  background: $light-gray;
}


.post-link a {
  transition: .1s;
  color: $dark-blue; 
  text-decoration: none;
  display: inline-block;
  line-height: 1.4em;
}

.post-link {  
  margin: 0;
}
.post-link a:hover {
  color: $post-l-hover;
}

.post-categories a {
  transition: .1s;
  text-decoration: none;
}

.footnotes {
  border-top: 1px solid $background-gray;
  margin: 1.6em 0;
  padding: 1.6em 0;
}



.spoiler {
  background: $almost-black;
  transition: .3s;
  transition-delay: .8s;
}
.spoiler:hover {
  transition-delay: 0s;
  background: $background-gray;
}