/* header */


#site-header-inner { 
  height: 200px;
  margin: 0;
  text-align: center;
}

#site-title-back {  
  max-height:200px;
  overflow: hidden !important;
  width:auto;
  margin:0;
}

#site-title h1::selection, #site-under-title::selection {
  text-shadow: 0px 0 0px black;
  background: $lighter-blue;
  color: $almost-black;
}

#site-title, #site-under-title {
  text-align: left;
  text-shadow: -1px 0 2px white, 0 -1px 2px white, 1px 0 2px white, 0 1px 2px white, 0 0 5px white, 0 0 5px white, 0 0 15px white, 0 0 15px white, 0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white,0 0 15px white;
  position: absolute;
  z-index: 99;
  white-space: nowrap;
}

#site-title { 
  text-decoration: none;
  margin-left: 5%;
  margin-top: 109px;
}

#site-under-title { 
  margin-left: 5%;
  margin-top: 155px;
  color: $base-gray;
  font-style: italic; 
}
.inner-top-menu {
    line-height: 50px;
    background-color: $light-blue; /* hsl(219, 25%, 75%); #b0bbd0; */
    font-weight: bold;
    text-align: center;
    cursor: default;
}
.inner-top-menu a {
    transition: .4s;
    display: inline-block;
    color: hsla(0,0%,0%,0.6);
    padding: 0 10px;
    margin: 0;
    transition: .1s;
    text-decoration: none !important;
    text-transform: uppercase;
    transform: scale(.9, 1);
}
.inner-top-menu a:hover, .inner-bottom-menu a:hover, .active-menu {
    color: hsla(0,0%,0%,0.3) !important;
    text-decoration: none !important;
}
.inner-bottom-menu {
    border-top: 1px solid $background-gray;
    background-color: $light-gray;
    line-height: 50px;
    overflow: hidden;
    text-align: left;
    padding: 20px;
    margin:0;
}
.inner-bottom-menu a {    
    text-transform: capitalize;
    transition: .4s;
    color: hsla(0,0%,0%,0.5);
    padding: 0 20px;
    margin: 0;
    margin-right: 20px;
    transition: .1s;
    text-decoration: none !important;
    display: block;
    border-bottom: 1px solid $background-gray; 
}
.inner-bottom-column {
  width: 100%;
  float:left;
  margin: 10px 0;
}
.inner-bottom-column a {
    display: block;
}
 .inner-bottom-column {
  width: 99.9999%;
}
.inner-bottom-column-count-2 {
  width: 50%;
}
.inner-bottom-column-count-3 {
  width: 33.3333%;
}
.inner-footer { 
    background-color: #dddddd;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
    cursor: default;
}


/* page */


.inner-wrap-column { 
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
}
.main {   
  flex: 70%;
  padding: 20px 40px 20px 0;
}
.side {
  flex: 30%;
  padding: 20px 40px;
}


.only-main {   
  flex: 100%;
  margin: 20px 100px;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
}



/* pagination */

.pagination {
  text-align: center;
  cursor: default;
  font-style: normal;
  margin: 0;
}

.pagination a, .pagination span {
  text-decoration: none;
  padding: 5px;
  color: $link-blue;
  margin: 0;
}
.pagination .page-active {
  display: none;
  color: $base-gray;
  cursor: default;
}
.pagination .page-number-active {
  color: $base-gray;
  cursor: default;
}
.pagination a:hover {
  color: $base-gray;
}



/* side content */


#archives {
  margin: 30px 0;
  cursor: default;
  text-transform: capitalize;
	
}
.side-head {
	text-align: center;
	font-weight: normal;	
	margin: 0 20px 10px 20px;
	font-style: normal;
}
.side-in a { 
    text-decoration: none;
}
.no-cap {   
    text-transform: none;
}
.archive-item {
	font-weight: normal;
	border-top: 1px solid hsl(0,0%,90%);	
	display: block;
	padding: 10px;
	margin: 0;
}
.archive-item a, .archive-item h5 {
	text-decoration: none !important;
	margin: 0;
}
.no-margin {
    margin: 0;
}

/**
 * Page content
 */
/*.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}*/

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  margin-left: 100px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
	padding-bottom: 20px;
	padding-left: 100px;
	border-bottom: 1px solid $background-gray; 
  }
}

.post-meta {
  text-align: left;
  text-transform: capitalize;
  font-size: 17px !important;
  font-style: italic;
  color: $base-gray;
  cursor: default;
}

.post-meta a {
  transition: .2s;
  font-size: 17px !important;
  font-style: italic;
  color: $base-gray;
  text-decoration: none;
}
.post-meta a:not(:last-child)::after {
  content: ', ';
}
.post-meta a:hover {
  color: #444444;
}
.post-link a {
  transition: .1s;
  color: $dark-blue; 
  text-decoration: none;
}

.post-link {  
  margin: 0;
}
.post-link a:hover {
  color: #5b6f94;
}

.post-categories a {
  transition: .1s;
  text-decoration: none;
}

.footnotes {
  border-top: 1px solid $background-gray;
  margin: 2em 0;
  padding: 2em 0;
  
}
