* {
  box-sizing: border-box;
}

/* wrap */

.page-inner-main {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}
#page-inner { 
  max-width: 1200px;
  width: 100%; 
  padding: 0; 
  background: $white; 
  margin-right: auto; 
  margin-left: auto;
  height:100%;
}
#page-inner p { 
  font-size: 19px;
  line-height: $normal-line-height;
  text-align: justify;
  padding: 0;
}
@media screen and (max-width: 1000px) {
    #page-inner {
       width: 100% !important;
    }
	#page-inner p { font-size: 17px !important; }
    .side {
	   padding: 0 7% 20px 7% !important; /* 40px = 5% everywhere */
	}
	.main {
	   padding: 0 7% 20px 0 !important;
	}
	.main-with-margin {
	   padding: 0 7% 20px 7% !important;
	}
	.only-main {
	   margin: 0 7% 20px 7% !important;
	}
   .post-list li {
       padding-left: 7% !important;
	}
	.post-list-heading {
       margin-left: 7% !important;
	}
	#scroll-btn {
	   visibility: visible !important;
	}
}
@media screen and (max-width: 800px) {
    .side, .main, .only-main, .main-with-margin {
	   flex: 100% !important;
	}
	.side-head {
	  text-align: left !important;
	}
	.inner-bottom-column {
	   width: 100% !important;
	}
	.inner-bottom-menu a {
	   margin-right: 0 !important;
	   padding: 0 !important;
	}
	.side-in {
	   display: block !important;
	}
}



/* header */

#site-header-inner { 
  height: 210px;
  margin: 0;
  text-align: center;
}
#site-title-back {  
  max-height: 210px;
  overflow: hidden !important;
  width: auto;
  margin: 0;
}
#site-title-back img {  
  pointer-events: none;
}

/* site title */

#site-title h1::selection, #site-under-title::selection {
  text-shadow: 0px 0 0px black;
  background: $lighter-blue;
  color: $almost-black;
}
#site-title, #site-under-title {
  text-align: left;
  text-shadow: -1px 0 2px $white, 0 -1px 2px $white, 1px 0 2px $white, 0 1px 2px $white, 0 0 5px $white, 0 0 5px $white, 0 0 5px $white, 0 0 5px $white, 0 0 5px $white, 0 0 5px $white, 0 0 5px $white, 0 0 5px $white, 0 0 5px $white, 0 0 5px $white, 0 0 5px $white, 0 0 5px $white, 0 0 10px $white, 0 0 10px $white, 0 0 10px $white, 0 0 10px $white, 0 0 10px $white, 0 0 10px $white, 0 0 10px $white, 0 0 15px $white, 0 0 15px $white, 0 0 15px $white, 0 0 15px $white, 0 0 15px $white, 0 0 15px $white, 0 0 15px $white, 0 0 15px $white, 0 0 15px $white;
  position: absolute;
  z-index: 99;
  white-space: nowrap;
}
#site-title { 
  text-decoration: none;
  margin-left: 7%;
  margin-top: 135px;
}
#site-under-title { 
  margin-left: 7%;
  margin-top: 175px;
  color: $base-gray;
  font-style: italic;
}

/* top */

.inner-top-menu {
	border-bottom: 1px solid $background-gray;
    line-height: 50px;
    background-color: $light-blue; /* hsl(219, 25%, 75%); #b0bbd0; */
    text-align: center;
    cursor: default;
    font-family: 'Cormorant SC';
	font-weight: bold;
	font-size: 22px;
}
.inner-top-menu a {
    text-align: center;
    transition: .4s;
    display: inline-block;
    color: $almost-black;
	opacity: .7;
    padding: 0 10px;
	/* margin: 0 -8px; */
    transition: .16s;
    text-decoration: none !important;
    text-transform: uppercase;
    /* transform: scale(.9, 1); */
}
.inner-top-menu a:hover, .inner-bottom-menu a:hover, .active-menu {
	opacity: .5 !important;
    /* color: hsla(0,0%,0%,0.3) !important; for top - #7b8391 */
    text-decoration: none !important;
	/*text-shadow: 0 -1px lightgray, 0 2px 2px gray;*/
}
.active-menu {
    pointer-events: none !important;
}

/* bottom */


.inner-bottom-menu {
  font-size: 16px;
  border-top: 1px solid $background-gray;
  background-color: $light-gray;
  line-height: 40px;
  overflow: hidden;
  text-align: left;
  padding: 10px 7%;
  margin:0;
}
.inner-bottom-menu a {
  text-transform: capitalize;
  color: $base-gray;
  padding: 0 3%;
  margin: 0;
  margin-right: 3%;
  text-decoration: none !important;
  display: block;
}
.inner-bottom-menu a:not(:first-child) {
  border-top: 1px solid $background-gray; 
}
.inner-bottom-column {
  width: 100%;
  float:left;
  margin: 10px 0;
}
.inner-bottom-column a {
  display: block;
}
.inner-bottom-column {
  width: 99.9999%;
}
.count-2 {
  width: 50%;
}
.count-3 {
  width: 33.3333%;
}
.inner-footer { 
  background-color: $tag-gray;
  color: $light-gray;
  line-height: 50px;
  text-align: center;
  cursor: default;
}


/* main */


.inner-wrap-column { 
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0;
}
.main {   
  flex: 70%;
  padding: 20px 20px 20px 0;
}
.main-with-margin {   
  flex: 70%;
  padding: 20px 40px 20px 100px;
}
.side {
  flex: 30%;
  padding: 20px 40px;
}
.only-main {
  flex: 100%;
  margin: 20px 100px;
  margin-top: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.only-main-top {
  flex: 100%;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}


.post-list-heading {
  margin-left: 100px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    /* padding-top: 20px; */
    margin-bottom: 20px;
	padding-bottom: 20px;
	padding-left: 100px;
	/*padding-right: 2%;
	margin-right: -2%;*/
	border-bottom: 1px solid $background-gray; 
  }
  
  /*> li:first-child {
    margin-top: -20px;
  }
  
  > li:hover { box-shadow: 1px -1px $background-gray, 1px 0 $background-gray, 0 -1px $background-gray; }*/
}


/* for translations  */

/*.visited a::before:visited {
  content: '- ';
}*/

.with-indent {
  text-indent: 5%;
}


/* pagination */

.pagination {
  padding: 20px 10% 40px 15%;
  cursor: default;
  font-style: normal;
  line-height: 33px;
  text-align: center;
}
.pagination a, .pagination span {
  /* box-shadow: 1px 1px $background-gray, -1px -1px $background-gray, 0 -1px $background-gray, -1px 0 $background-gray, 0 1px $background-gray, 1px 0 $background-gray, 1px -1px $background-gray, -1px 1px $background-gray; */
  text-decoration: none;
  padding: 2px 10px;
  min-width: 40px;
  margin: 0 -3px;
  margin-top: -1px;
  color: $link-blue;
  border: 1px solid $background-gray;
  background-color: $white;
  display: inline-block;
  text-align: center;
}
.pagination .page-active {
  display: none;
}
.pagination a:last-child, .pagination span:last-child { 
  border-radius: 0 2px 2px 0; 
}
.pagination a:first-child, .pagination span:first-child { 
  border-radius: 2px 0 0 2px; 
}
.pagination .page-number-active {
  color: $tag-gray;
  cursor: default;
  background-color: $light-gray;
}
.pagination a:hover {
  color: $base-gray;
}



/* side content */


#archives {
  margin: 30px 0;
  cursor: default;
  text-transform: capitalize;
}
.side-head {
  text-align: center;
  margin: 20px 0 20px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid $background-gray;
  font-family: 'Times New Roman', 'Source Han Code JP N';
  line-height: 1.6em;
}
.side-in a {
  text-decoration: none;
}
.no-cap {
  text-transform: none !important;
}
.archive-item {
  font-weight: normal;
  border-top: 1px solid hsl(0,0%,90%);
  display: block;
  padding: 10px;
  margin: 0;
}
.archive-item a, .archive-item h5 {
  text-decoration: none !important;
  margin: 0;
}
.no-margin {margin: 0;}



/* toc */


.toc {
  margin: 0;
  display: inline;
  text-align: justify;
}
.toc a {
  transition: 0s;
  padding: 0 4px;
  float:right;
  width: 100% !important;  
  text-decoration: none;
}
.toc a:hover { background-color: $light-gray !important; }
.toc a {
  border-top: 1px solid $light-gray; 
  margin-top: -1px;
}
.toc:nth-child(even) a {
  background-color: $very-light-gray;
}
.category-post-date {  
  float: right;
  white-space: nowrap;
  color: $tag-gray;
}
span.small { font-size:14px !important; opacity:.5 !important; }

.tag-category-title { 
  color: $tag-gray;
}

/* tag page */

.tag-title {
  margin-top: 40px;
}

#tags-list, #full-cat-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#tag-search {
  font-family: "Times New Roman", Times, serif;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border: 1px solid $background-gray;
  margin-bottom: 22px;  
  transition: .2s;
  border-radius: 2px;
}

#tag-search:hover, #tag-search:focus { border: 1px solid $base-gray; }

#tags-list li:nth-child(odd) a, #full-cat-list li:nth-child(odd) a {
  background-color: $very-light-gray;
}
#tags-list li:last-child a, #full-cat-list li:last-child a {
  margin-bottom: 22px;
}

/* post switch */

.switch-post {
  text-align: center;
  background-color: $very-light-gray;
  position: relative; 
  font-family: 'Cormorant Garamond';
  font-weight: 400;
  font-size: 1.3em;
  /*white-space: nowrap; 
  overflow: hidden;*/
}
.switch-post a { 
  line-height: 50px;
  padding: 0 7%;
  display: block;
  color: $base-gray; 
  text-decoration: none; 
}
.switch-post a:hover, .switch-post a:focus { 
  color: $almost-black; 
  background-color: $light-gray;
}
.switch-off { 
  background: transparent !important; 
  border-color:transparent !important; 
  pointer-events: none !important; 
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
}

.previous-post {
  border-bottom: 1px solid $light-gray;
  top:-40px;
  margin-bottom: -30px;
}
.previous-post:hover, .previous-post:focus { border-bottom: 1px solid $background-gray; 
}
.next-post { 
  border-top: 1px solid $light-gray;
  bottom: -40px; 
  margin-top: -30px;
}
.next-post a {
  color: $not-black;
}
.next-post:hover, .next-post:focus { border-top: 1px solid $background-gray;
}
a.bigger { font-size: 20px !important; 
}


/* ―― */

.dash{
width:2em;
height:0.6em;
display:inline-block;
overflow:hidden;
text-indent:-5em;
position:relative;
margin:0;
}
.dash:before{
content:'';
display:block;
position:absolute;
top:50%;
left:0;
width:100%;
height:0;
border-top:1px solid;
}
.dash:before{
border-top-color: black !important;
}

/**
 * Page content
 */
/*.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}*/

.page-heading {
/*  @include relative-font-size(2);*/
}



.post-meta {
  text-align: left !important;
  text-transform: capitalize;
  font-size: 17px !important;
  font-style: italic;
  color: $base-gray;
  cursor: default;
}

.post-meta a {
  font-size: 17px !important;
  font-style: italic;
  color: $base-gray;
  text-decoration: none;
}
/*.post-meta a:not(:last-child)::after {
  content: ', ';
}*/
.post-meta a:hover {
  color: $not-black;
}

.tag {
  text-transform: capitalize;
  border: 1px solid $tag-gray;
  padding: 1px 4px;
  border-radius: 2px;
  margin: 0 2px;
  display: inline;
  color: $base-gray;
  white-space: nowrap;
  font-style: italic;
}

.tag:hover {
  background: $light-gray;
}


.post-link a {
  transition: .1s;
  color: $dark-blue; 
  text-decoration: none;
  display: block;
}

.post-link a:hover {
  color: $link-blue;
}
.post-categories {
  cursor: default;
  margin-bottom: -1px;
}
.post-categories a {
  transition: .1s;
  text-decoration: none;
  font-family: 'Cormorant Upright';
  font-weight: 400;
  font-size: 20px;
}
.post-categories a:not(:last-child)::after,
.meta-categories a:not(:last-child)::after {
  content: ', ';
}
.post-title {
  line-height: $small-line-height;
}
.main-title {
  text-align: center;
  margin: 1.3em 0;
  line-height: 1.2em;
}
.post-content {
  margin: 1.6em 0;
}

.footnotes {
  border-top: 1px solid $background-gray;
  margin-top: 1.6em;
  padding-top: 1.6em;
}



.spoiler {
  background: $almost-black;
  color: transparent;
  transition: .3s;
  transition-delay: .3s;
}
.spoiler:hover {
  transition-delay: 0s;
  background: $background-gray;
  color: $almost-black;
}



/* scroll */

i.button-arrow-up {
  border: solid $tag-gray;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}


@keyframes fade {
  from {opacity: 0;}
  to {opacity: 0.4;}
}

#scroll-btn {
  visibility: hidden;
  display: none;
  animation: fade 1s 1;
  position: fixed;
  bottom: 20px;
  right: 3%;
  z-index: 9;
  font-size: 18px;
  outline: none;
  background-color: $white;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid $tag-gray;
  opacity: .4 !important;
}

#scroll-btn:hover {
  background: $light-gray;
}

details > summary.toc-details {
  padding: 0 10px;
  cursor: pointer;
  transition: .3s;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-touch-callout: none;
  border: 1px solid $background-gray;
  border-radius: 2px 2px 0 0;
  margin: 1.6em 0 0 0;
  color: $base-gray;
  white-space: nowrap;
  font-style: italic;
}
details > summary.toc-details:hover, details:hover summary.toc-details {
  background: $light-gray;
  color: $not-black;
}

details #tags-list { 
  border: 1px solid $background-gray;
  border-top: none;
  border-radius: 0 0 2px 2px;
  box-sizing: border-box;
  position: relative;
  max-height: 200px;
  overflow-y: scroll;
}



@font-face {
  font-family: 'Source Han Code JP N';
  src: url(https://sakkamade.github.io/src/fnt/source-han-code-jp/SourceHanCodeJP-Normal.ttf);
}
@font-face {
  font-family: 'Source Han Code JP N';
  src: url(https://sakkamade.github.io/src/fnt/source-han-code-jp/SourceHanCodeJP-Normal-Italic.ttf);
  font-style: italic;
}

@font-face {
  font-family: 'Cormorant Garamond';
  src: url(https://sakkamade.github.io/src/fnt/Cormorant/CormorantGaramond-Regular.woff);
  font-weight: 300;
}
@font-face {
  font-family: 'Cormorant Garamond';
  src: url(https://sakkamade.github.io/src/fnt/Cormorant/CormorantGaramond-Italic.woff);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Cormorant Garamond';
  src: url(https://sakkamade.github.io/src/fnt/Cormorant/CormorantGaramond-Medium.woff);
  font-weight: 400;
}
@font-face {
  font-family: 'Cormorant Garamond';
  src: url(https://sakkamade.github.io/src/fnt/Cormorant/CormorantGaramond-MediumItalic.woff);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Cormorant Garamond';
  src: url(https://sakkamade.github.io/src/fnt/Cormorant/CormorantGaramond-SemiBold.woff);
  font-weight: 500;
}
@font-face {
  font-family: 'Cormorant Garamond';
  src: url(https://sakkamade.github.io/src/fnt/Cormorant/CormorantGaramond-Bold.woff);
  font-weight: bold;
}


@font-face {
  font-family: 'Cormorant Infant';
  src: url(https://sakkamade.github.io/src/fnt/Cormorant/CormorantInfant-Medium.woff);
  font-weight: 400;
}
@font-face {
  font-family: 'Cormorant Infant';
  src: url(https://sakkamade.github.io/src/fnt/Cormorant/CormorantInfant-MediumItalic.woff);
  font-weight: 400;
  font-style: italic;
}



@font-face {
  font-family: 'Cormorant SC';
  src: url(https://sakkamade.github.io/src/fnt/Cormorant/CormorantSC-Regular.woff);
  font-weight: 300;
}
@font-face {
  font-family: 'Cormorant SC';
  src: url(https://sakkamade.github.io/src/fnt/Cormorant/CormorantSC-Medium.woff);
  font-weight: 400;
}
@font-face {
  font-family: 'Cormorant SC';
  src: url(https://sakkamade.github.io/src/fnt/Cormorant/CormorantSC-SemiBold.woff);
  font-weight: 500;
}
@font-face {
  font-family: 'Cormorant SC';
  src: url(https://sakkamade.github.io/src/fnt/Cormorant/CormorantSC-Bold.woff);
  font-weight: bold;
}


@font-face {
  font-family: 'Cormorant Upright';
  src: url(https://sakkamade.github.io/src/fnt/Cormorant/CormorantUpright-Medium.woff);
  font-weight: 400;
}
@font-face {
  font-family: 'Cormorant Upright';
  src: url(https://sakkamade.github.io/src/fnt/Cormorant/CormorantUpright-SemiBold.woff);
  font-weight: 500;
}