---
layout: default
---
<div class="main-with-margin">
  <header class="post-header">
    <h2 class="post-title">Tag: {{ page.title | escape | default: "&nbsp;" | downcase }}</h2>
  </header>
  
<input type="text" id="tag-search" onkeyup="myFunction()" placeholder="Search for the post in this tag.." title="Type a word...">
<ul id="tags-list">

  {{ content }}
  
</ul>
</div>

<div class="side">
  {%- include side-column.html -%}
</div>

 <script src="https://sakkamade.github.io/src/js/tag-search.js"></script> 