---
layout: default
---
<main id="main" class="main" aria-label="Content" role="main" itemscope itemtype="http://schema.org/BlogPosting">
<div class="in-main">
    <header>
    <h2 class="post-title" itemprop="name headline">{{ page.title | escape | default: "Untitled." }}</h2>
    </header>

    {{ content }}

</div>
</main>



<aside id="sidebar" class="side">
<section class="in-side">

{% if page.url contains 'archive' %}
<div id="side-wrapper">
<h5 class="side-head no-cap js-only" title='Date filters'><span>Archive Filter</span></h5>
<section id="archive-date-container" class="js-only">
    <div class="dropdown dropdown-toc">
    <button type="button" onclick="dropdownFunction()" id="closed" class="dropbtn drop-opened" title=""><em>Date filters</em></button>
    <div id="myDropdown" class="dropdown-content show-dropdown">
        <section id="tags-list">
        <div class="toc archive-date active" onclick="filterSelection('all')" title="Display all publications">Display all ({{ site.posts | size }})</div>
            {% assign counter = 0 %}
        {% for post in site.posts %}
            {% assign thisyear = post.date | date: "%Y %B" %}
            {% assign prevyear = post.previous.date | date: "%Y %B" %}
            {% assign counter = counter | plus: 1 %}
                {% if thisyear != prevyear %}
                <div class="toc archive-date" onclick="filterSelection('{{ thisyear }}')" title="Display publications only of {% assign titleyear = post.date | date: "%B of %Y" %}{{ titleyear }}">{{ thisyear }} ({{ counter }})</div>
                    {% assign counter = 0 %}
                {% endif %}
        {% endfor %}
        </section>
    </div>
    </div>
</section>
</div>
{% else %}
{% endif %}

    {%- include side-column.html -%}

</section>
</aside>

