<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {%- include head.html -%}

<body>

<div id="page-header">

    {%- include header.html -%}

</div>

<div id="page-inner" class="columns-layout">
    <div class="page-inner-main">
        <section class="inner-wrap-column">
        <div class="main dummy">

        {%- include top-nav.html -%}

        </div>
        <div class="side dummy"><!--dummy--></div>

        {{ content }}

        <div class="main dummy">
        <section class="copying-footer">
        <span class="small">All of the translated web-novels present in this web-site are property of their original authors.<br><strong>Any usage of the translated work allowed only with permission from author.</strong></span>
        </section>
        </div>
        <div class="side dummy"><!--dummy--></div>

        </section>
    </div>
</div>

	{%- include topBottomBtn.html -%}

<script src="/src/js/scroll-button.js" type="text/javascript"></script>
<script src="/src/js/post-toggles.js" type="text/javascript"></script>
<script src="/src/js/cut-l.js" type="text/javascript"></script>
<script src="/src/js/filter-date.js" type="text/javascript"></script>
<script src="/src/js/sidebar-menu.js" type="text/javascript"></script>

</body>
</html>
