<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="page-inner-main" id="page-inner">
	  <section class="inner-wrap-column">
	  
        {{ content }}
		
      </section>
    </div>
	
	<button onclick="topFunction()" id="scroll-btn" title="Go to the top."><i class="button-arrow-up"></i></button>

    {%- include footer.html -%}
	
  <script src="/src/js/scroll-button.js"></script>
  <script>
    //Wah, that's some pretty nice script
  </script>
  </body>
</html>
