<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

<body>
<div id="page-inner">

  {%- include header.html -%}

<div class="page-inner-main" aria-label="Content" role="main">
	<section class="inner-wrap-column">	  
	{{ content }}		
	</section>
</div>
	
	{%- include topBottomBtn.html -%}

	{%- include footer.html -%}

<script src="/src/js/scroll-button.js"></script>

<script src="/src/js/note-toggle.js"></script>

</div>
</body>
</html>
