<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="page-inner-main" id="page-inner" aria-label="Content">
	  <section class="inner-wrap-column">	  
        {{ content }}		
      </section>
    </div>
	
	<button onclick="topFunction()" id="scroll-btn" class="scroll-btn" title="Go to the top."><i class="button-arrow-up"></i></button>

    {%- include footer.html -%}
	
  <script src="/src/js/scroll-button.js"></script>
  <script>
  function classSwitch() {
    var element = document.getElementById("note");
    element.classList.toggle("cropped");
  } 
  </script>
  </body>
</html>
