---
layout: default
---

<!-- prev -->
<div class="only-main-top">
  <section class="switch-post previous-post">
    {% if page.previous %}
        {% assign previous = page.previous %}
    {% else %}
        {% assign previous = site.posts[0] %}
    {% endif %}
        <a href="{{site.baseurl}}{{previous.url}}" title="{{previous.title}}">Previous: "{{previous.title | strip_html | truncatewords: 10}}"</a>
  </section>
</div>

<div class="only-main">
  <div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
    {% for category in categories %}
  <a href="{{site.baseurl}}/categories/{{category|slugify}}/">{{category}}</a>
    {% unless forloop.last %}<!--&nbsp;-->{% endunless %}
  {% endfor %}
  </div>
  <header>
    <h3 class="post-title">{{ page.title | escape }}</h3>
    <p class="post-meta">
	  <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%Y %B %d" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
	  ・ <span class="no-cap">{{ page.author }}</span> ・ 
      {%- endif -%}
		     <!-- tags -->
			 {% if post %}
		   	   {% assign tags = post.tags | sort %}
			 {% else %}
			   {% assign tags = page.tags | sort %}
		   	 {% endif %}
			   {% for tag in tags %}
			 <a class="tag" href="{{site.baseurl}}/tags/{{ tag | slugify }}/">{{tag}}</a>
			   {% unless forloop.last %}<!--&nbsp;-->{% endunless %}
			 {% endfor %}
	 </p>
      {%- if page.updated -%}
	 <p style="margin-top: -14px;" class="post-meta">Last Updated: {{ page.updated | date: date_format }}</p>
	 {%- endif -%}
  </header>


  <div class="post-content">
  
    {{ content }}
	
    <hr>
  </div>  
  <p class="post-meta meta-categories no-cap"><span>Category: </span>
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
    {% for category in categories %}
  <a href="{{site.baseurl}}/categories/{{category|slugify}}/">{{category}}</a>
    {% unless forloop.last %}<!--&nbsp;-->{% endunless %}
  {% endfor %}  
  </p>
		     <!-- tags -->
			 <p class="post-meta"><span>Tags: </span>
			 {% if post %}
		   	   {% assign tags = post.tags | sort %}
			 {% else %}
			   {% assign tags = page.tags | sort %}
		   	 {% endif %}
			   {% for tag in tags %}
			 <a class="tag" href="{{site.baseurl}}/tags/{{ tag | slugify }}/">{{tag}}</a>
			   {% unless forloop.last %}<!--&nbsp;-->{% endunless %}
			 {% endfor %}
			 </p>
  
</div>


<!-- next -->
  <div class="only-main-top">
    <section class="switch-post next-post">
    {% if page.next %}
        {% assign next = page.next %}
    {% else %}
        {%comment%}
           As the array index start at zero we substract 1 to the total count,
           we then get the last post index in the site.posts array
        {%endcomment%}
        {% assign last lastPostIndex = site.posts | size | minus: 1 %}
        {% assign next = site.posts[lastPostIndex] %}
    {% endif %}
        <a href="{{site.baseurl}}{{next.url}}" title="{{next.title}}">Next: "{{next.title | strip_html | truncatewords: 10}}"</a>
    </section>
  </div>