---
layout: default-post
---

<!-- prev -->
<div class="only-main-top">
	{% if page.previous.url %}
	<section class="switch-post previous-post">  
		<a href="{{page.previous.url}}" title="{{page.previous.categories}} ・ {{page.previous.title}}">Previous: "{{ page.previous.title | strip_html | truncatewords: 10 }}"</a>
	</section>
	{% else %}
	<section class="switch-post previous-post switch-off">
		<a>&nbsp;</a>
	</section>
	{% endif %}
</div>
<!-- end prev -->

<article class="only-main" itemscope itemtype="http://schema.org/BlogPosting">

<!-- cat assign -->
{% if post %}
	{% assign categories = post.categories | sort %}
{% else %}
	{% assign categories = page.categories | sort %}
{% endif %}

{%- if page.main-title -%}

{% for category in categories %}
	<h1 class="post-title main-title" itemprop="name headline">
		<a href="{{ site.baseurl }}/categories/{{ category | slugify }}">
			{{ page.main-title }}
		</a>
	</h1>
{% endfor %}

{% else %}
<div style="height: 20px;"><!-- $base-unit --></div> 
{% endif %}


<!-- top information -->
<header class="post-header">
	<p class="post-meta meta-categories no-cap no-margin">
		{%- if page.main-title -%}<!--no top category-->{%- else -%}
			{% for category in categories %}
			<a href="{{ site.baseurl }}/categories/{{ category | slugify }}">{{ category }}</a>
				{% unless forloop.last %}<!--&nbsp;-->{% endunless %}
			{% endfor %}  
		{%- endif -%}
	</p>
	<h3 class="post-title" {%- if page.main-title -%}{%- else -%}itemprop="name headline"{%- endif -%}>{{ page.title | escape }}</h3>
	<p class="post-meta low-line" style="text-align: right !important;">
	<span title="Estimated reading time">
			{% capture words %}
		{{ page.content | number_of_words | minus: 250 }}
			{% endcapture %}
		{% unless words contains "-" %}
		Circa {{ words | plus: 250 | divided_by: 180 | append: " minutes" }}
		{% endunless %}
	</span>
	</p>
</header>
<!-- end top information -->

{% if page.note or page.chapter-link %}
<noscript>To see entire note, your browser must support JavaScript.</noscript>
<blockquote onclick="classSwitch()" class="cropped" id="note">

      {% if page.note %}
        <p class="translator-note"><b>Note:</b> {{ page.note }}</p>
      {% endif %}
  
      {% if page.chapter-link %}
        <a class="original-chapter-link" href="{{ page.chapter-link }}" target="_blank">
        {{ page.chapter-link }}
        </a>
      {% endif %}
</blockquote>
	{% else %}
		<hr>
{% endif %}

<div itemprop="articleBody">
    {{ content }}
</div>

  {% if page.under-note %}
  <!-- under note -->
  <blockquote>  
	
      {% if page.under-note %}
        {{ page.under-note }}<br><br>
      {% endif %}
	  
  </blockquote>  
  <!-- end under note -->
  {% endif %}


<hr>


<!-- bottom information -->
<p class="post-meta low-line" style="text-align: right !important;">
  <time class="{%- if page.last_modified_at -%}time{%- endif -%}" title="{%- assign date_full_format = "%d/%m/%Y %H:%M:%S UTC" -%}{{ page.date | date: date_full_format }}" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished"><span>Date Written:&nbsp;</span>{%- assign date_format = "%Y %B %d" -%}{{ page.date | date: date_format }}</time>
  {%- if page.last_modified_at -%}<br><time title="{{ page.last_modified_at | date: date_full_format }}" class="time-up"><span>Last amend:&nbsp;</span>{{ page.last_modified_at | date: date_format }}</time>{%- endif -%}
</p>
<!-- end bottom information -->

    {% for category in categories %}
  <details><summary class="toc-details">{{ category }}</summary>
    {% endfor %}   
	<section id="tags-list">
  {% for category in page.categories %}
  {% assign sotred_posts = site.categories[category] | sort %}
    {% for post in sotred_posts %}
      <div title="{{ post.title }}" class="toc"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title | strip_html | truncatewords: 12 }}
	  <span class="category-post-date">{{ post.date | date: date_format }}</span></a></div>	  
    {% endfor %}
  {% endfor %}
  </section>
  </details>
  
  <div style="height: 20px;"><!-- $base-unit --></div> 
</article>



  <!-- next -->
<div class="only-main-top">
  {% if page.next.url %}
    <section class="switch-post next-post">
	<a href="{{page.next.url}}" title="{{page.next.categories}} ・ {{page.next.title}}">Next: "{{page.next.title | strip_html | truncatewords: 10}}"<br>
	<i class="button-arrow-down"></i>
	</a>
    </section>
  {% else %}
    <section class="switch-post next-post switch-off">        
	<a>&nbsp;</a>
    </section>
  {% endif %}
</div>
