---
layout: default
---
<div class="only-main">
<article>
  <div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a href="{{site.baseurl}}/categories/{{category|slugify}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
  </div>
  <header>
    <h2>{{ page.title | escape }}</h2>
    <p class="post-meta">
	  <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
	  ・ <span>{{ page.author }}</span> ・ 
      {%- endif -%}
		     <!-- tags -->
			 {% if post %}
			 {% assign tags = post.tags | sort %}
			 {% else %}
			 {% assign tags = page.tags | sort %}
			 {% endif %}
			 {% for tag in tags %}
			 <a href="{{site.baseurl}}/tags/{{tag | slugify}}/">{{tag}}</a>
			 {% unless forloop.last %}&nbsp;{% endunless %}
			 {% endfor %}
	 </p>
  </header>

  <div>
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
</div>