<ul class="post-list">
  {%- for post in paginator.posts -%}
  {% unless post.tags contains 'pinned' %}
  <li>
	<header class="post-header">
		<!-- category --> 
	<div class="post-categories">
		{% if post %}
		{% assign categories = post.categories | sort %}
		{% else %}
		{% assign categories = page.categories | sort %}
		{% endif %}
		{% for category in categories %}
		<a href="{{site.baseurl}}/categories/{{category | slugify}}" title='Visit a page of "{{categories}}" category'>{{category}}</a>
		{% unless forloop.last %}<!-- &nbsp; -->{% endunless %}
		{% endfor %}
	</div>        
	
	{%- include /home/home-post-meta.html -%}
	
    </header>
	
	{%- include /home/home-post-excerpt.html -%}
	
  </li>
  {% endunless %}
  {%- endfor -%}
</ul>
