{% if site.tags contains 'pinned' %}
<ul class="post-list pinned-list">
	{% for post in site.tags.pinned %}
	<li>
	<header class="post-header">
		<!-- category -->     
	<div class="post-categories">
		<span class="pinned">Pinned Article ・ </span>
		{% if post %}
		{% assign categories = post.categories | sort %}
		{% else %}
		{% assign categories = page.categories | sort %}
		{% endif %}
		{% for category in categories %}
		<a href="{{site.baseurl}}/categories/{{category | slugify}}" title='Visit the page of "{{categories}}" category'>{{category}}</a>
		{% unless forloop.last %}<!-- &nbsp; -->{% endunless %}
		{% endfor %}
	</div>
	
	{%- include /home/home-post-meta.html -%}
	
	</header>
	
	{%- include /home/home-post-excerpt.html -%}
	
	</li>
	{% endfor %}
</ul>
{% endif %}
